.svg-emoji-faces-1f600 {
	background: url(sprite.svg?v=1435591505211) 33.333333333333336% 0 no-repeat;
}

.svg-emoji-faces-1f600-dims {
	width: 47.5px;
	height: 47.5px;
}

.svg-emoji-faces-1f602 {
	background: url(sprite.svg?v=1435591505211) 0 99.47643979057591% no-repeat;
}

.svg-emoji-faces-1f602-dims {
	width: 47.5px;
	height: 47.5px;
}

.svg-emoji-faces-1f603 {
	background: url(sprite.svg?v=1435591505211) 0 49.738219895287955% no-repeat;
}

.svg-emoji-faces-1f603-dims {
	width: 47.5px;
	height: 47.5px;
}

.svg-emoji-faces-1f604 {
	background: url(sprite.svg?v=1435591505211) 33.333333333333336% 49.738219895287955% no-repeat;
}

.svg-emoji-faces-1f604-dims {
	width: 47.5px;
	height: 47.5px;
}

.svg-emoji-faces-1f606 {
	background: url(sprite.svg?v=1435591505211) 66.66666666666667% 0 no-repeat;
}

.svg-emoji-faces-1f606-dims {
	width: 47.5px;
	height: 47.5px;
}

.svg-emoji-faces-1f607 {
	background: url(sprite.svg?v=1435591505211) 66.66666666666667% 49.738219895287955% no-repeat;
}

.svg-emoji-faces-1f607-dims {
	width: 47.5px;
	height: 47.5px;
}

.svg-emoji-faces-1f608 {
	background: url(sprite.svg?v=1435591505211) 0 0 no-repeat;
}

.svg-emoji-faces-1f608-dims {
	width: 47.5px;
	height: 47.5px;
}

.svg-emoji-faces-1f60a {
	background: url(sprite.svg?v=1435591505211) 33.333333333333336% 99.47643979057591% no-repeat;
}

.svg-emoji-faces-1f60a-dims {
	width: 47.5px;
	height: 47.5px;
}

.svg-emoji-faces-1f60b {
	background: url(sprite.svg?v=1435591505211) 66.66666666666667% 99.47643979057591% no-repeat;
}

.svg-emoji-faces-1f60b-dims {
	width: 47.5px;
	height: 47.5px;
}

.svg-emoji-faces-1f60c {
	background: url(sprite.svg?v=1435591505211) 100% 0 no-repeat;
}

.svg-emoji-faces-1f60c-dims {
	width: 47.5px;
	height: 47.5px;
}

.svg-emoji-faces-1f60e {
	background: url(sprite.svg?v=1435591505211) 100% 49.738219895287955% no-repeat;
}

.svg-emoji-faces-1f60e-dims {
	width: 47.5px;
	height: 47.5px;
}

.svg-emoji-faces-1f60f {
	background: url(sprite.svg?v=1435591505211) 100% 99.47643979057591% no-repeat;
}

.svg-emoji-faces-1f60f-dims {
	width: 47.5px;
	height: 47.5px;
}

