.png-emoji-nature-1f30a {
	background: url(sprite.png?v=1449073283583) 9.090909090909092% 0 no-repeat;
}

.png-emoji-nature-1f30a-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f30b {
	background: url(sprite.png?v=1449073283583) 72.72727272727273% 0 no-repeat;
}

.png-emoji-nature-1f30b-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f30c {
	background: url(sprite.png?v=1449073283583) 0 9.989484752891693% no-repeat;
}

.png-emoji-nature-1f30c-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f30d {
	background: url(sprite.png?v=1449073283583) 9.090909090909092% 9.989484752891693% no-repeat;
}

.png-emoji-nature-1f30d-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f30f {
	background: url(sprite.png?v=1449073283583) 18.181818181818183% 0 no-repeat;
}

.png-emoji-nature-1f30f-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f311 {
	background: url(sprite.png?v=1449073283583) 18.181818181818183% 9.989484752891693% no-repeat;
}

.png-emoji-nature-1f311-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f312 {
	background: url(sprite.png?v=1449073283583) 0 19.978969505783386% no-repeat;
}

.png-emoji-nature-1f312-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f313 {
	background: url(sprite.png?v=1449073283583) 9.090909090909092% 19.978969505783386% no-repeat;
}

.png-emoji-nature-1f313-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f314 {
	background: url(sprite.png?v=1449073283583) 18.181818181818183% 19.978969505783386% no-repeat;
}

.png-emoji-nature-1f314-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f315 {
	background: url(sprite.png?v=1449073283583) 27.272727272727273% 0 no-repeat;
}

.png-emoji-nature-1f315-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f316 {
	background: url(sprite.png?v=1449073283583) 27.272727272727273% 9.989484752891693% no-repeat;
}

.png-emoji-nature-1f316-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f317 {
	background: url(sprite.png?v=1449073283583) 27.272727272727273% 19.978969505783386% no-repeat;
}

.png-emoji-nature-1f317-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f318 {
	background: url(sprite.png?v=1449073283583) 0 29.968454258675077% no-repeat;
}

.png-emoji-nature-1f318-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f319 {
	background: url(sprite.png?v=1449073283583) 9.090909090909092% 29.968454258675077% no-repeat;
}

.png-emoji-nature-1f319-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f31a {
	background: url(sprite.png?v=1449073283583) 18.181818181818183% 29.968454258675077% no-repeat;
}

.png-emoji-nature-1f31a-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f31b {
	background: url(sprite.png?v=1449073283583) 27.272727272727273% 29.968454258675077% no-repeat;
}

.png-emoji-nature-1f31b-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f31c {
	background: url(sprite.png?v=1449073283583) 36.36363636363637% 0 no-repeat;
}

.png-emoji-nature-1f31c-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f31d {
	background: url(sprite.png?v=1449073283583) 36.36363636363637% 9.989484752891693% no-repeat;
}

.png-emoji-nature-1f31d-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f31e {
	background: url(sprite.png?v=1449073283583) 36.36363636363637% 19.978969505783386% no-repeat;
}

.png-emoji-nature-1f31e-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f31f {
	background: url(sprite.png?v=1449073283583) 36.36363636363637% 29.968454258675077% no-repeat;
}

.png-emoji-nature-1f31f-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f320 {
	background: url(sprite.png?v=1449073283583) 0 39.95793901156677% no-repeat;
}

.png-emoji-nature-1f320-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f330 {
	background: url(sprite.png?v=1449073283583) 9.090909090909092% 39.95793901156677% no-repeat;
}

.png-emoji-nature-1f330-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f331 {
	background: url(sprite.png?v=1449073283583) 18.181818181818183% 39.95793901156677% no-repeat;
}

.png-emoji-nature-1f331-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f332 {
	background: url(sprite.png?v=1449073283583) 27.272727272727273% 39.95793901156677% no-repeat;
}

.png-emoji-nature-1f332-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f333 {
	background: url(sprite.png?v=1449073283583) 36.36363636363637% 39.95793901156677% no-repeat;
}

.png-emoji-nature-1f333-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f334 {
	background: url(sprite.png?v=1449073283583) 45.45454545454545% 0 no-repeat;
}

.png-emoji-nature-1f334-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f335 {
	background: url(sprite.png?v=1449073283583) 45.45454545454545% 9.989484752891693% no-repeat;
}

.png-emoji-nature-1f335-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f337 {
	background: url(sprite.png?v=1449073283583) 45.45454545454545% 19.978969505783386% no-repeat;
}

.png-emoji-nature-1f337-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f338 {
	background: url(sprite.png?v=1449073283583) 45.45454545454545% 29.968454258675077% no-repeat;
}

.png-emoji-nature-1f338-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f339 {
	background: url(sprite.png?v=1449073283583) 45.45454545454545% 39.95793901156677% no-repeat;
}

.png-emoji-nature-1f339-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f33a {
	background: url(sprite.png?v=1449073283583) 0 49.94742376445846% no-repeat;
}

.png-emoji-nature-1f33a-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f33b {
	background: url(sprite.png?v=1449073283583) 9.090909090909092% 49.94742376445846% no-repeat;
}

.png-emoji-nature-1f33b-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f33c {
	background: url(sprite.png?v=1449073283583) 18.181818181818183% 49.94742376445846% no-repeat;
}

.png-emoji-nature-1f33c-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f33d {
	background: url(sprite.png?v=1449073283583) 27.272727272727273% 49.94742376445846% no-repeat;
}

.png-emoji-nature-1f33d-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f33e {
	background: url(sprite.png?v=1449073283583) 36.36363636363637% 49.94742376445846% no-repeat;
}

.png-emoji-nature-1f33e-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f33f {
	background: url(sprite.png?v=1449073283583) 45.45454545454545% 49.94742376445846% no-repeat;
}

.png-emoji-nature-1f33f-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f342 {
	background: url(sprite.png?v=1449073283583) 54.54545454545455% 0 no-repeat;
}

.png-emoji-nature-1f342-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f343 {
	background: url(sprite.png?v=1449073283583) 54.54545454545455% 9.989484752891693% no-repeat;
}

.png-emoji-nature-1f343-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f345 {
	background: url(sprite.png?v=1449073283583) 54.54545454545455% 19.978969505783386% no-repeat;
}

.png-emoji-nature-1f345-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f347 {
	background: url(sprite.png?v=1449073283583) 54.54545454545455% 29.968454258675077% no-repeat;
}

.png-emoji-nature-1f347-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f348 {
	background: url(sprite.png?v=1449073283583) 54.54545454545455% 39.95793901156677% no-repeat;
}

.png-emoji-nature-1f348-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f349 {
	background: url(sprite.png?v=1449073283583) 54.54545454545455% 49.94742376445846% no-repeat;
}

.png-emoji-nature-1f349-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f34a {
	background: url(sprite.png?v=1449073283583) 0 59.936908517350155% no-repeat;
}

.png-emoji-nature-1f34a-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f34b {
	background: url(sprite.png?v=1449073283583) 9.090909090909092% 59.936908517350155% no-repeat;
}

.png-emoji-nature-1f34b-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f34c {
	background: url(sprite.png?v=1449073283583) 18.181818181818183% 59.936908517350155% no-repeat;
}

.png-emoji-nature-1f34c-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f34d {
	background: url(sprite.png?v=1449073283583) 27.272727272727273% 59.936908517350155% no-repeat;
}

.png-emoji-nature-1f34d-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f34e {
	background: url(sprite.png?v=1449073283583) 36.36363636363637% 59.936908517350155% no-repeat;
}

.png-emoji-nature-1f34e-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f34f {
	background: url(sprite.png?v=1449073283583) 45.45454545454545% 59.936908517350155% no-repeat;
}

.png-emoji-nature-1f34f-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f390 {
	background: url(sprite.png?v=1449073283583) 54.54545454545455% 59.936908517350155% no-repeat;
}

.png-emoji-nature-1f390-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f391 {
	background: url(sprite.png?v=1449073283583) 63.63636363636363% 0 no-repeat;
}

.png-emoji-nature-1f391-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f400 {
	background: url(sprite.png?v=1449073283583) 63.63636363636363% 9.989484752891693% no-repeat;
}

.png-emoji-nature-1f400-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f401 {
	background: url(sprite.png?v=1449073283583) 63.63636363636363% 19.978969505783386% no-repeat;
}

.png-emoji-nature-1f401-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f402 {
	background: url(sprite.png?v=1449073283583) 63.63636363636363% 29.968454258675077% no-repeat;
}

.png-emoji-nature-1f402-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f403 {
	background: url(sprite.png?v=1449073283583) 63.63636363636363% 39.95793901156677% no-repeat;
}

.png-emoji-nature-1f403-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f404 {
	background: url(sprite.png?v=1449073283583) 63.63636363636363% 49.94742376445846% no-repeat;
}

.png-emoji-nature-1f404-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f405 {
	background: url(sprite.png?v=1449073283583) 63.63636363636363% 59.936908517350155% no-repeat;
}

.png-emoji-nature-1f405-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f406 {
	background: url(sprite.png?v=1449073283583) 0 69.92639327024185% no-repeat;
}

.png-emoji-nature-1f406-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f407 {
	background: url(sprite.png?v=1449073283583) 9.090909090909092% 69.92639327024185% no-repeat;
}

.png-emoji-nature-1f407-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f408 {
	background: url(sprite.png?v=1449073283583) 18.181818181818183% 69.92639327024185% no-repeat;
}

.png-emoji-nature-1f408-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f409 {
	background: url(sprite.png?v=1449073283583) 27.272727272727273% 69.92639327024185% no-repeat;
}

.png-emoji-nature-1f409-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f40a {
	background: url(sprite.png?v=1449073283583) 36.36363636363637% 69.92639327024185% no-repeat;
}

.png-emoji-nature-1f40a-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f40b {
	background: url(sprite.png?v=1449073283583) 45.45454545454545% 69.92639327024185% no-repeat;
}

.png-emoji-nature-1f40b-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f40c {
	background: url(sprite.png?v=1449073283583) 54.54545454545455% 69.92639327024185% no-repeat;
}

.png-emoji-nature-1f40c-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f40d {
	background: url(sprite.png?v=1449073283583) 63.63636363636363% 69.92639327024185% no-repeat;
}

.png-emoji-nature-1f40d-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f40f {
	background: url(sprite.png?v=1449073283583) 0 0 no-repeat;
}

.png-emoji-nature-1f40f-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f410 {
	background: url(sprite.png?v=1449073283583) 72.72727272727273% 9.989484752891693% no-repeat;
}

.png-emoji-nature-1f410-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f411 {
	background: url(sprite.png?v=1449073283583) 72.72727272727273% 19.978969505783386% no-repeat;
}

.png-emoji-nature-1f411-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f412 {
	background: url(sprite.png?v=1449073283583) 72.72727272727273% 29.968454258675077% no-repeat;
}

.png-emoji-nature-1f412-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f413 {
	background: url(sprite.png?v=1449073283583) 72.72727272727273% 39.95793901156677% no-repeat;
}

.png-emoji-nature-1f413-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f414 {
	background: url(sprite.png?v=1449073283583) 72.72727272727273% 49.94742376445846% no-repeat;
}

.png-emoji-nature-1f414-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f415 {
	background: url(sprite.png?v=1449073283583) 72.72727272727273% 59.936908517350155% no-repeat;
}

.png-emoji-nature-1f415-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f417 {
	background: url(sprite.png?v=1449073283583) 72.72727272727273% 69.92639327024185% no-repeat;
}

.png-emoji-nature-1f417-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f419 {
	background: url(sprite.png?v=1449073283583) 0 79.91587802313354% no-repeat;
}

.png-emoji-nature-1f419-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f41a {
	background: url(sprite.png?v=1449073283583) 9.090909090909092% 79.91587802313354% no-repeat;
}

.png-emoji-nature-1f41a-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f41b {
	background: url(sprite.png?v=1449073283583) 18.181818181818183% 79.91587802313354% no-repeat;
}

.png-emoji-nature-1f41b-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f41c {
	background: url(sprite.png?v=1449073283583) 27.272727272727273% 79.91587802313354% no-repeat;
}

.png-emoji-nature-1f41c-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f41d {
	background: url(sprite.png?v=1449073283583) 36.36363636363637% 79.91587802313354% no-repeat;
}

.png-emoji-nature-1f41d-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f41e {
	background: url(sprite.png?v=1449073283583) 45.45454545454545% 79.91587802313354% no-repeat;
}

.png-emoji-nature-1f41e-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f41f {
	background: url(sprite.png?v=1449073283583) 54.54545454545455% 79.91587802313354% no-repeat;
}

.png-emoji-nature-1f41f-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f420 {
	background: url(sprite.png?v=1449073283583) 63.63636363636363% 79.91587802313354% no-repeat;
}

.png-emoji-nature-1f420-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f421 {
	background: url(sprite.png?v=1449073283583) 72.72727272727273% 79.91587802313354% no-repeat;
}

.png-emoji-nature-1f421-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f422 {
	background: url(sprite.png?v=1449073283583) 81.81818181818181% 0 no-repeat;
}

.png-emoji-nature-1f422-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f423 {
	background: url(sprite.png?v=1449073283583) 81.81818181818181% 9.989484752891693% no-repeat;
}

.png-emoji-nature-1f423-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f424 {
	background: url(sprite.png?v=1449073283583) 81.81818181818181% 19.978969505783386% no-repeat;
}

.png-emoji-nature-1f424-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f425 {
	background: url(sprite.png?v=1449073283583) 81.81818181818181% 29.968454258675077% no-repeat;
}

.png-emoji-nature-1f425-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f426 {
	background: url(sprite.png?v=1449073283583) 81.81818181818181% 39.95793901156677% no-repeat;
}

.png-emoji-nature-1f426-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f429 {
	background: url(sprite.png?v=1449073283583) 81.81818181818181% 49.94742376445846% no-repeat;
}

.png-emoji-nature-1f429-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f42a {
	background: url(sprite.png?v=1449073283583) 81.81818181818181% 59.936908517350155% no-repeat;
}

.png-emoji-nature-1f42a-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f42b {
	background: url(sprite.png?v=1449073283583) 81.81818181818181% 69.92639327024185% no-repeat;
}

.png-emoji-nature-1f42b-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f42d {
	background: url(sprite.png?v=1449073283583) 81.81818181818181% 79.91587802313354% no-repeat;
}

.png-emoji-nature-1f42d-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f42e {
	background: url(sprite.png?v=1449073283583) 0 89.90536277602524% no-repeat;
}

.png-emoji-nature-1f42e-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f42f {
	background: url(sprite.png?v=1449073283583) 9.090909090909092% 89.90536277602524% no-repeat;
}

.png-emoji-nature-1f42f-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f432 {
	background: url(sprite.png?v=1449073283583) 18.181818181818183% 89.90536277602524% no-repeat;
}

.png-emoji-nature-1f432-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f433 {
	background: url(sprite.png?v=1449073283583) 27.272727272727273% 89.90536277602524% no-repeat;
}

.png-emoji-nature-1f433-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f438 {
	background: url(sprite.png?v=1449073283583) 36.36363636363637% 89.90536277602524% no-repeat;
}

.png-emoji-nature-1f438-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f439 {
	background: url(sprite.png?v=1449073283583) 45.45454545454545% 89.90536277602524% no-repeat;
}

.png-emoji-nature-1f439-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f43a {
	background: url(sprite.png?v=1449073283583) 54.54545454545455% 89.90536277602524% no-repeat;
}

.png-emoji-nature-1f43a-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f43b {
	background: url(sprite.png?v=1449073283583) 63.63636363636363% 89.90536277602524% no-repeat;
}

.png-emoji-nature-1f43b-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f43c {
	background: url(sprite.png?v=1449073283583) 72.72727272727273% 89.90536277602524% no-repeat;
}

.png-emoji-nature-1f43c-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f43d {
	background: url(sprite.png?v=1449073283583) 81.81818181818181% 89.90536277602524% no-repeat;
}

.png-emoji-nature-1f43d-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f43e {
	background: url(sprite.png?v=1449073283583) 90.9090909090909% 0 no-repeat;
}

.png-emoji-nature-1f43e-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f490 {
	background: url(sprite.png?v=1449073283583) 90.9090909090909% 9.989484752891693% no-repeat;
}

.png-emoji-nature-1f490-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f4a6 {
	background: url(sprite.png?v=1449073283583) 90.9090909090909% 19.978969505783386% no-repeat;
}

.png-emoji-nature-1f4a6-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f4a7 {
	background: url(sprite.png?v=1449073283583) 90.9090909090909% 29.968454258675077% no-repeat;
}

.png-emoji-nature-1f4a7-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f4a8 {
	background: url(sprite.png?v=1449073283583) 90.9090909090909% 39.95793901156677% no-repeat;
}

.png-emoji-nature-1f4a8-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f4ad {
	background: url(sprite.png?v=1449073283583) 90.9090909090909% 49.94742376445846% no-repeat;
}

.png-emoji-nature-1f4ad-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f505 {
	background: url(sprite.png?v=1449073283583) 90.9090909090909% 59.936908517350155% no-repeat;
}

.png-emoji-nature-1f505-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-1f506 {
	background: url(sprite.png?v=1449073283583) 90.9090909090909% 69.92639327024185% no-repeat;
}

.png-emoji-nature-1f506-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-2600 {
	background: url(sprite.png?v=1449073283583) 90.9090909090909% 79.91587802313354% no-repeat;
}

.png-emoji-nature-2600-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-2601 {
	background: url(sprite.png?v=1449073283583) 90.9090909090909% 89.90536277602524% no-repeat;
}

.png-emoji-nature-2601-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-26a1 {
	background: url(sprite.png?v=1449073283583) 0 99.89484752891693% no-repeat;
}

.png-emoji-nature-26a1-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-26c5 {
	background: url(sprite.png?v=1449073283583) 9.090909090909092% 99.89484752891693% no-repeat;
}

.png-emoji-nature-26c5-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-Canada {
	background: url(sprite.png?v=1449073283583) 18.181818181818183% 99.89484752891693% no-repeat;
}

.png-emoji-nature-Canada-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-cat {
	background: url(sprite.png?v=1449073283583) 27.272727272727273% 99.89484752891693% no-repeat;
}

.png-emoji-nature-cat-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-clover {
	background: url(sprite.png?v=1449073283583) 36.36363636363637% 99.89484752891693% no-repeat;
}

.png-emoji-nature-clover-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-dogFace {
	background: url(sprite.png?v=1449073283583) 45.45454545454545% 99.89484752891693% no-repeat;
}

.png-emoji-nature-dogFace-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-dolphin {
	background: url(sprite.png?v=1449073283583) 54.54545454545455% 99.89484752891693% no-repeat;
}

.png-emoji-nature-dolphin-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-elephant {
	background: url(sprite.png?v=1449073283583) 63.63636363636363% 99.89484752891693% no-repeat;
}

.png-emoji-nature-elephant-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-fire {
	background: url(sprite.png?v=1449073283583) 72.72727272727273% 99.89484752891693% no-repeat;
}

.png-emoji-nature-fire-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-horse {
	background: url(sprite.png?v=1449073283583) 81.81818181818181% 99.89484752891693% no-repeat;
}

.png-emoji-nature-horse-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-monkeyFace {
	background: url(sprite.png?v=1449073283583) 90.9090909090909% 99.89484752891693% no-repeat;
}

.png-emoji-nature-monkeyFace-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-mushroom {
	background: url(sprite.png?v=1449073283583) 100% 0 no-repeat;
}

.png-emoji-nature-mushroom-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-penguin {
	background: url(sprite.png?v=1449073283583) 100% 9.989484752891693% no-repeat;
}

.png-emoji-nature-penguin-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-pig {
	background: url(sprite.png?v=1449073283583) 100% 19.978969505783386% no-repeat;
}

.png-emoji-nature-pig-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-pigFace {
	background: url(sprite.png?v=1449073283583) 100% 29.968454258675077% no-repeat;
}

.png-emoji-nature-pigFace-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-rabbit {
	background: url(sprite.png?v=1449073283583) 100% 39.95793901156677% no-repeat;
}

.png-emoji-nature-rabbit-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-rainbow {
	background: url(sprite.png?v=1449073283583) 100% 49.94742376445846% no-repeat;
}

.png-emoji-nature-rainbow-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-snowflake {
	background: url(sprite.png?v=1449073283583) 100% 59.936908517350155% no-repeat;
}

.png-emoji-nature-snowflake-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-nature-snowman {
	background: url(sprite.png?v=1449073283583) 100% 69.92639327024185% no-repeat;
}

.png-emoji-nature-snowman-dims {
	width: 71px;
	height: 71px;
}

