.png-emoji-places-1f004 {
	background: url(sprite.png?v=1449073282729) 9.989484752891693% 0 no-repeat;
}

.png-emoji-places-1f004-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f301 {
	background: url(sprite.png?v=1449073282729) 69.92639327024185% 55.55555555555556% no-repeat;
}

.png-emoji-places-1f301-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f302 {
	background: url(sprite.png?v=1449073282729) 0 11.11111111111111% no-repeat;
}

.png-emoji-places-1f302-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f303 {
	background: url(sprite.png?v=1449073282729) 9.989484752891693% 11.11111111111111% no-repeat;
}

.png-emoji-places-1f303-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f304 {
	background: url(sprite.png?v=1449073282729) 19.978969505783386% 0 no-repeat;
}

.png-emoji-places-1f304-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f305 {
	background: url(sprite.png?v=1449073282729) 19.978969505783386% 11.11111111111111% no-repeat;
}

.png-emoji-places-1f305-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f306 {
	background: url(sprite.png?v=1449073282729) 0 22.22222222222222% no-repeat;
}

.png-emoji-places-1f306-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f307 {
	background: url(sprite.png?v=1449073282729) 9.989484752891693% 22.22222222222222% no-repeat;
}

.png-emoji-places-1f307-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f309 {
	background: url(sprite.png?v=1449073282729) 19.978969505783386% 22.22222222222222% no-repeat;
}

.png-emoji-places-1f309-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f38a {
	background: url(sprite.png?v=1449073282729) 29.968454258675077% 0 no-repeat;
}

.png-emoji-places-1f38a-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f38b {
	background: url(sprite.png?v=1449073282729) 29.968454258675077% 11.11111111111111% no-repeat;
}

.png-emoji-places-1f38b-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f38c {
	background: url(sprite.png?v=1449073282729) 29.968454258675077% 22.22222222222222% no-repeat;
}

.png-emoji-places-1f38c-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f38d {
	background: url(sprite.png?v=1449073282729) 0 33.333333333333336% no-repeat;
}

.png-emoji-places-1f38d-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f38e {
	background: url(sprite.png?v=1449073282729) 9.989484752891693% 33.333333333333336% no-repeat;
}

.png-emoji-places-1f38e-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f38f {
	background: url(sprite.png?v=1449073282729) 19.978969505783386% 33.333333333333336% no-repeat;
}

.png-emoji-places-1f38f-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f392 {
	background: url(sprite.png?v=1449073282729) 29.968454258675077% 33.333333333333336% no-repeat;
}

.png-emoji-places-1f392-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f3a0 {
	background: url(sprite.png?v=1449073282729) 39.95793901156677% 0 no-repeat;
}

.png-emoji-places-1f3a0-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f3a1 {
	background: url(sprite.png?v=1449073282729) 39.95793901156677% 11.11111111111111% no-repeat;
}

.png-emoji-places-1f3a1-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f3aa {
	background: url(sprite.png?v=1449073282729) 39.95793901156677% 22.22222222222222% no-repeat;
}

.png-emoji-places-1f3aa-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f3ab {
	background: url(sprite.png?v=1449073282729) 39.95793901156677% 33.333333333333336% no-repeat;
}

.png-emoji-places-1f3ab-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f3e0 {
	background: url(sprite.png?v=1449073282729) 0 44.44444444444444% no-repeat;
}

.png-emoji-places-1f3e0-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f3e1 {
	background: url(sprite.png?v=1449073282729) 9.989484752891693% 44.44444444444444% no-repeat;
}

.png-emoji-places-1f3e1-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f3e2 {
	background: url(sprite.png?v=1449073282729) 19.978969505783386% 44.44444444444444% no-repeat;
}

.png-emoji-places-1f3e2-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f3e3 {
	background: url(sprite.png?v=1449073282729) 29.968454258675077% 44.44444444444444% no-repeat;
}

.png-emoji-places-1f3e3-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f3e4 {
	background: url(sprite.png?v=1449073282729) 39.95793901156677% 44.44444444444444% no-repeat;
}

.png-emoji-places-1f3e4-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f3e5 {
	background: url(sprite.png?v=1449073282729) 49.94742376445846% 0 no-repeat;
}

.png-emoji-places-1f3e5-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f3e6 {
	background: url(sprite.png?v=1449073282729) 49.94742376445846% 11.11111111111111% no-repeat;
}

.png-emoji-places-1f3e6-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f3e7 {
	background: url(sprite.png?v=1449073282729) 49.94742376445846% 22.22222222222222% no-repeat;
}

.png-emoji-places-1f3e7-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f3e8 {
	background: url(sprite.png?v=1449073282729) 49.94742376445846% 33.333333333333336% no-repeat;
}

.png-emoji-places-1f3e8-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f3e9 {
	background: url(sprite.png?v=1449073282729) 49.94742376445846% 44.44444444444444% no-repeat;
}

.png-emoji-places-1f3e9-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f3ea {
	background: url(sprite.png?v=1449073282729) 0 55.55555555555556% no-repeat;
}

.png-emoji-places-1f3ea-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f3eb {
	background: url(sprite.png?v=1449073282729) 9.989484752891693% 55.55555555555556% no-repeat;
}

.png-emoji-places-1f3eb-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f3ec {
	background: url(sprite.png?v=1449073282729) 19.978969505783386% 55.55555555555556% no-repeat;
}

.png-emoji-places-1f3ec-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f3ed {
	background: url(sprite.png?v=1449073282729) 29.968454258675077% 55.55555555555556% no-repeat;
}

.png-emoji-places-1f3ed-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f3ee {
	background: url(sprite.png?v=1449073282729) 39.95793901156677% 55.55555555555556% no-repeat;
}

.png-emoji-places-1f3ee-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f3ef {
	background: url(sprite.png?v=1449073282729) 49.94742376445846% 55.55555555555556% no-repeat;
}

.png-emoji-places-1f3ef-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f3f0 {
	background: url(sprite.png?v=1449073282729) 59.936908517350155% 0 no-repeat;
}

.png-emoji-places-1f3f0-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f45b {
	background: url(sprite.png?v=1449073282729) 59.936908517350155% 11.11111111111111% no-repeat;
}

.png-emoji-places-1f45b-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f45c {
	background: url(sprite.png?v=1449073282729) 59.936908517350155% 22.22222222222222% no-repeat;
}

.png-emoji-places-1f45c-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f45d {
	background: url(sprite.png?v=1449073282729) 59.936908517350155% 33.333333333333336% no-repeat;
}

.png-emoji-places-1f45d-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f5fb {
	background: url(sprite.png?v=1449073282729) 59.936908517350155% 44.44444444444444% no-repeat;
}

.png-emoji-places-1f5fb-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f5fc {
	background: url(sprite.png?v=1449073282729) 59.936908517350155% 55.55555555555556% no-repeat;
}

.png-emoji-places-1f5fc-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f5fd {
	background: url(sprite.png?v=1449073282729) 0 66.66666666666667% no-repeat;
}

.png-emoji-places-1f5fd-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f5fe {
	background: url(sprite.png?v=1449073282729) 9.989484752891693% 66.66666666666667% no-repeat;
}

.png-emoji-places-1f5fe-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f5ff {
	background: url(sprite.png?v=1449073282729) 19.978969505783386% 66.66666666666667% no-repeat;
}

.png-emoji-places-1f5ff-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f680 {
	background: url(sprite.png?v=1449073282729) 29.968454258675077% 66.66666666666667% no-repeat;
}

.png-emoji-places-1f680-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f681 {
	background: url(sprite.png?v=1449073282729) 39.95793901156677% 66.66666666666667% no-repeat;
}

.png-emoji-places-1f681-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f682 {
	background: url(sprite.png?v=1449073282729) 49.94742376445846% 66.66666666666667% no-repeat;
}

.png-emoji-places-1f682-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f683 {
	background: url(sprite.png?v=1449073282729) 59.936908517350155% 66.66666666666667% no-repeat;
}

.png-emoji-places-1f683-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f684 {
	background: url(sprite.png?v=1449073282729) 69.92639327024185% 0 no-repeat;
}

.png-emoji-places-1f684-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f685 {
	background: url(sprite.png?v=1449073282729) 69.92639327024185% 11.11111111111111% no-repeat;
}

.png-emoji-places-1f685-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f686 {
	background: url(sprite.png?v=1449073282729) 69.92639327024185% 22.22222222222222% no-repeat;
}

.png-emoji-places-1f686-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f687 {
	background: url(sprite.png?v=1449073282729) 69.92639327024185% 33.333333333333336% no-repeat;
}

.png-emoji-places-1f687-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f688 {
	background: url(sprite.png?v=1449073282729) 69.92639327024185% 44.44444444444444% no-repeat;
}

.png-emoji-places-1f688-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f689 {
	background: url(sprite.png?v=1449073282729) 0 0 no-repeat;
}

.png-emoji-places-1f689-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f68a {
	background: url(sprite.png?v=1449073282729) 69.92639327024185% 66.66666666666667% no-repeat;
}

.png-emoji-places-1f68a-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f68b {
	background: url(sprite.png?v=1449073282729) 0 77.77777777777777% no-repeat;
}

.png-emoji-places-1f68b-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f68c {
	background: url(sprite.png?v=1449073282729) 9.989484752891693% 77.77777777777777% no-repeat;
}

.png-emoji-places-1f68c-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f68d {
	background: url(sprite.png?v=1449073282729) 19.978969505783386% 77.77777777777777% no-repeat;
}

.png-emoji-places-1f68d-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f68e {
	background: url(sprite.png?v=1449073282729) 29.968454258675077% 77.77777777777777% no-repeat;
}

.png-emoji-places-1f68e-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f68f {
	background: url(sprite.png?v=1449073282729) 39.95793901156677% 77.77777777777777% no-repeat;
}

.png-emoji-places-1f68f-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f690 {
	background: url(sprite.png?v=1449073282729) 49.94742376445846% 77.77777777777777% no-repeat;
}

.png-emoji-places-1f690-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f695 {
	background: url(sprite.png?v=1449073282729) 59.936908517350155% 77.77777777777777% no-repeat;
}

.png-emoji-places-1f695-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f696 {
	background: url(sprite.png?v=1449073282729) 69.92639327024185% 77.77777777777777% no-repeat;
}

.png-emoji-places-1f696-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f697 {
	background: url(sprite.png?v=1449073282729) 79.91587802313354% 0 no-repeat;
}

.png-emoji-places-1f697-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f698 {
	background: url(sprite.png?v=1449073282729) 79.91587802313354% 11.11111111111111% no-repeat;
}

.png-emoji-places-1f698-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f699 {
	background: url(sprite.png?v=1449073282729) 79.91587802313354% 22.22222222222222% no-repeat;
}

.png-emoji-places-1f699-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f69a {
	background: url(sprite.png?v=1449073282729) 79.91587802313354% 33.333333333333336% no-repeat;
}

.png-emoji-places-1f69a-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f69b {
	background: url(sprite.png?v=1449073282729) 79.91587802313354% 44.44444444444444% no-repeat;
}

.png-emoji-places-1f69b-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f69c {
	background: url(sprite.png?v=1449073282729) 79.91587802313354% 55.55555555555556% no-repeat;
}

.png-emoji-places-1f69c-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f69d {
	background: url(sprite.png?v=1449073282729) 79.91587802313354% 66.66666666666667% no-repeat;
}

.png-emoji-places-1f69d-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f69e {
	background: url(sprite.png?v=1449073282729) 79.91587802313354% 77.77777777777777% no-repeat;
}

.png-emoji-places-1f69e-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f69f {
	background: url(sprite.png?v=1449073282729) 0 88.88888888888889% no-repeat;
}

.png-emoji-places-1f69f-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f6a0 {
	background: url(sprite.png?v=1449073282729) 9.989484752891693% 88.88888888888889% no-repeat;
}

.png-emoji-places-1f6a0-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f6a1 {
	background: url(sprite.png?v=1449073282729) 19.978969505783386% 88.88888888888889% no-repeat;
}

.png-emoji-places-1f6a1-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f6a2 {
	background: url(sprite.png?v=1449073282729) 29.968454258675077% 88.88888888888889% no-repeat;
}

.png-emoji-places-1f6a2-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f6a3 {
	background: url(sprite.png?v=1449073282729) 39.95793901156677% 88.88888888888889% no-repeat;
}

.png-emoji-places-1f6a3-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f6a4 {
	background: url(sprite.png?v=1449073282729) 49.94742376445846% 88.88888888888889% no-repeat;
}

.png-emoji-places-1f6a4-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f6a5 {
	background: url(sprite.png?v=1449073282729) 59.936908517350155% 88.88888888888889% no-repeat;
}

.png-emoji-places-1f6a5-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f6a6 {
	background: url(sprite.png?v=1449073282729) 69.92639327024185% 88.88888888888889% no-repeat;
}

.png-emoji-places-1f6a6-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f6aa {
	background: url(sprite.png?v=1449073282729) 79.91587802313354% 88.88888888888889% no-repeat;
}

.png-emoji-places-1f6aa-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f6b2 {
	background: url(sprite.png?v=1449073282729) 89.90536277602524% 0 no-repeat;
}

.png-emoji-places-1f6b2-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f6c2 {
	background: url(sprite.png?v=1449073282729) 89.90536277602524% 11.11111111111111% no-repeat;
}

.png-emoji-places-1f6c2-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f6c3 {
	background: url(sprite.png?v=1449073282729) 89.90536277602524% 22.22222222222222% no-repeat;
}

.png-emoji-places-1f6c3-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f6c4 {
	background: url(sprite.png?v=1449073282729) 89.90536277602524% 33.333333333333336% no-repeat;
}

.png-emoji-places-1f6c4-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-1f6c5 {
	background: url(sprite.png?v=1449073282729) 89.90536277602524% 44.44444444444444% no-repeat;
}

.png-emoji-places-1f6c5-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-2693 {
	background: url(sprite.png?v=1449073282729) 89.90536277602524% 55.55555555555556% no-repeat;
}

.png-emoji-places-2693-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-26ea {
	background: url(sprite.png?v=1449073282729) 89.90536277602524% 66.66666666666667% no-repeat;
}

.png-emoji-places-26ea-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-26f2 {
	background: url(sprite.png?v=1449073282729) 89.90536277602524% 77.77777777777777% no-repeat;
}

.png-emoji-places-26f2-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-26f5 {
	background: url(sprite.png?v=1449073282729) 89.90536277602524% 88.88888888888889% no-repeat;
}

.png-emoji-places-26f5-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-26fa {
	background: url(sprite.png?v=1449073282729) 0 100% no-repeat;
}

.png-emoji-places-26fa-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-26fd {
	background: url(sprite.png?v=1449073282729) 9.989484752891693% 100% no-repeat;
}

.png-emoji-places-26fd-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-2708 {
	background: url(sprite.png?v=1449073282729) 19.978969505783386% 100% no-repeat;
}

.png-emoji-places-2708-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-ambulence {
	background: url(sprite.png?v=1449073282729) 29.968454258675077% 100% no-repeat;
}

.png-emoji-places-ambulence-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-china {
	background: url(sprite.png?v=1449073282729) 39.95793901156677% 100% no-repeat;
}

.png-emoji-places-china-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-e50a {
	background: url(sprite.png?v=1449073282729) 49.94742376445846% 100% no-repeat;
}

.png-emoji-places-e50a-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-england {
	background: url(sprite.png?v=1449073282729) 59.936908517350155% 100% no-repeat;
}

.png-emoji-places-england-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-fireTruck {
	background: url(sprite.png?v=1449073282729) 69.92639327024185% 100% no-repeat;
}

.png-emoji-places-fireTruck-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-france {
	background: url(sprite.png?v=1449073282729) 79.91587802313354% 100% no-repeat;
}

.png-emoji-places-france-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-germany {
	background: url(sprite.png?v=1449073282729) 89.90536277602524% 100% no-repeat;
}

.png-emoji-places-germany-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-italy {
	background: url(sprite.png?v=1449073282729) 99.89484752891693% 0 no-repeat;
}

.png-emoji-places-italy-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-japan {
	background: url(sprite.png?v=1449073282729) 99.89484752891693% 11.11111111111111% no-repeat;
}

.png-emoji-places-japan-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-korea {
	background: url(sprite.png?v=1449073282729) 99.89484752891693% 22.22222222222222% no-repeat;
}

.png-emoji-places-korea-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-policCar1 {
	background: url(sprite.png?v=1449073282729) 99.89484752891693% 33.333333333333336% no-repeat;
}

.png-emoji-places-policCar1-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-policeCar2 {
	background: url(sprite.png?v=1449073282729) 99.89484752891693% 44.44444444444444% no-repeat;
}

.png-emoji-places-policeCar2-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-rollarcoaster {
	background: url(sprite.png?v=1449073282729) 99.89484752891693% 55.55555555555556% no-repeat;
}

.png-emoji-places-rollarcoaster-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-russia {
	background: url(sprite.png?v=1449073282729) 99.89484752891693% 66.66666666666667% no-repeat;
}

.png-emoji-places-russia-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-spain {
	background: url(sprite.png?v=1449073282729) 99.89484752891693% 77.77777777777777% no-repeat;
}

.png-emoji-places-spain-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-places-usa {
	background: url(sprite.png?v=1449073282729) 99.89484752891693% 88.88888888888889% no-repeat;
}

.png-emoji-places-usa-dims {
	width: 71px;
	height: 71px;
}

