.png-emoji-celebration-1f37a {
	background: url(sprite.png?v=1449073269902) 16.637478108581437% 0 no-repeat;
}

.png-emoji-celebration-1f37a-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-celebration-1f37b {
	background: url(sprite.png?v=1449073269902) 66.54991243432575% 60% no-repeat;
}

.png-emoji-celebration-1f37b-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-celebration-1f380 {
	background: url(sprite.png?v=1449073269902) 0 20% no-repeat;
}

.png-emoji-celebration-1f380-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-celebration-1f381 {
	background: url(sprite.png?v=1449073269902) 16.637478108581437% 20% no-repeat;
}

.png-emoji-celebration-1f381-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-celebration-1f383 {
	background: url(sprite.png?v=1449073269902) 33.274956217162874% 0 no-repeat;
}

.png-emoji-celebration-1f383-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-celebration-1f384 {
	background: url(sprite.png?v=1449073269902) 33.274956217162874% 20% no-repeat;
}

.png-emoji-celebration-1f384-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-celebration-1f386 {
	background: url(sprite.png?v=1449073269902) 0 40% no-repeat;
}

.png-emoji-celebration-1f386-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-celebration-1f387 {
	background: url(sprite.png?v=1449073269902) 16.637478108581437% 40% no-repeat;
}

.png-emoji-celebration-1f387-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-celebration-1f388 {
	background: url(sprite.png?v=1449073269902) 33.274956217162874% 40% no-repeat;
}

.png-emoji-celebration-1f388-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-celebration-1f3a9 {
	background: url(sprite.png?v=1449073269902) 49.91243432574431% 0 no-repeat;
}

.png-emoji-celebration-1f3a9-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-celebration-1f48e {
	background: url(sprite.png?v=1449073269902) 49.91243432574431% 20% no-repeat;
}

.png-emoji-celebration-1f48e-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-celebration-1f492 {
	background: url(sprite.png?v=1449073269902) 49.91243432574431% 40% no-repeat;
}

.png-emoji-celebration-1f492-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-celebration-1f493 {
	background: url(sprite.png?v=1449073269902) 0 60% no-repeat;
}

.png-emoji-celebration-1f493-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-celebration-1f49d {
	background: url(sprite.png?v=1449073269902) 16.637478108581437% 60% no-repeat;
}

.png-emoji-celebration-1f49d-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-celebration-1f4a5 {
	background: url(sprite.png?v=1449073269902) 33.274956217162874% 60% no-repeat;
}

.png-emoji-celebration-1f4a5-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-celebration-1f4ab {
	background: url(sprite.png?v=1449073269902) 49.91243432574431% 60% no-repeat;
}

.png-emoji-celebration-1f4ab-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-celebration-1f4af {
	background: url(sprite.png?v=1449073269902) 66.54991243432575% 0 no-repeat;
}

.png-emoji-celebration-1f4af-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-celebration-1f4b0 {
	background: url(sprite.png?v=1449073269902) 66.54991243432575% 20% no-repeat;
}

.png-emoji-celebration-1f4b0-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-celebration-1f4b2 {
	background: url(sprite.png?v=1449073269902) 66.54991243432575% 40% no-repeat;
}

.png-emoji-celebration-1f4b2-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-celebration-1f52f {
	background: url(sprite.png?v=1449073269902) 0 0 no-repeat;
}

.png-emoji-celebration-1f52f-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-celebration-2663 {
	background: url(sprite.png?v=1449073269902) 0 80% no-repeat;
}

.png-emoji-celebration-2663-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-celebration-2665 {
	background: url(sprite.png?v=1449073269902) 16.637478108581437% 80% no-repeat;
}

.png-emoji-celebration-2665-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-celebration-2666 {
	background: url(sprite.png?v=1449073269902) 33.274956217162874% 80% no-repeat;
}

.png-emoji-celebration-2666-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-celebration-2728 {
	background: url(sprite.png?v=1449073269902) 49.91243432574431% 80% no-repeat;
}

.png-emoji-celebration-2728-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-celebration-2733 {
	background: url(sprite.png?v=1449073269902) 66.54991243432575% 80% no-repeat;
}

.png-emoji-celebration-2733-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-celebration-2734 {
	background: url(sprite.png?v=1449073269902) 83.18739054290718% 0 no-repeat;
}

.png-emoji-celebration-2734-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-celebration-2747 {
	background: url(sprite.png?v=1449073269902) 83.18739054290718% 20% no-repeat;
}

.png-emoji-celebration-2747-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-celebration-2b50 {
	background: url(sprite.png?v=1449073269902) 83.18739054290718% 40% no-repeat;
}

.png-emoji-celebration-2b50-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-celebration-blueHeart {
	background: url(sprite.png?v=1449073269902) 83.18739054290718% 60% no-repeat;
}

.png-emoji-celebration-blueHeart-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-celebration-cake {
	background: url(sprite.png?v=1449073269902) 83.18739054290718% 80% no-repeat;
}

.png-emoji-celebration-cake-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-celebration-celebration {
	background: url(sprite.png?v=1449073269902) 0 100% no-repeat;
}

.png-emoji-celebration-celebration-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-celebration-cool {
	background: url(sprite.png?v=1449073269902) 16.637478108581437% 100% no-repeat;
}

.png-emoji-celebration-cool-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-celebration-graduation {
	background: url(sprite.png?v=1449073269902) 33.274956217162874% 100% no-repeat;
}

.png-emoji-celebration-graduation-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-celebration-greenHeart {
	background: url(sprite.png?v=1449073269902) 49.91243432574431% 100% no-repeat;
}

.png-emoji-celebration-greenHeart-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-celebration-heart {
	background: url(sprite.png?v=1449073269902) 66.54991243432575% 100% no-repeat;
}

.png-emoji-celebration-heart-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-celebration-pill {
	background: url(sprite.png?v=1449073269902) 83.18739054290718% 100% no-repeat;
}

.png-emoji-celebration-pill-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-celebration-purpleHearts {
	background: url(sprite.png?v=1449073269902) 99.82486865148861% 0 no-repeat;
}

.png-emoji-celebration-purpleHearts-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-celebration-spade {
	background: url(sprite.png?v=1449073269902) 99.82486865148861% 20% no-repeat;
}

.png-emoji-celebration-spade-dims {
	width: 71px;
	height: 71px;
}

