.svg-emoji-activity-1f3a4 {
	background: url(sprite.svg?v=1449073269359) 16.637478108581437% 0 no-repeat;
}

.svg-emoji-activity-1f3a4-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-1f3a5 {
	background: url(sprite.svg?v=1449073269359) 16.637478108581437% 80% no-repeat;
}

.svg-emoji-activity-1f3a5-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-1f3a7 {
	background: url(sprite.svg?v=1449073269359) 0 20% no-repeat;
}

.svg-emoji-activity-1f3a7-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-1f3a8 {
	background: url(sprite.svg?v=1449073269359) 16.637478108581437% 20% no-repeat;
}

.svg-emoji-activity-1f3a8-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-1f3ac {
	background: url(sprite.svg?v=1449073269359) 33.274956217162874% 0 no-repeat;
}

.svg-emoji-activity-1f3ac-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-1f3ad {
	background: url(sprite.svg?v=1449073269359) 33.274956217162874% 20% no-repeat;
}

.svg-emoji-activity-1f3ad-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-1f3ae {
	background: url(sprite.svg?v=1449073269359) 0 40% no-repeat;
}

.svg-emoji-activity-1f3ae-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-1f3af {
	background: url(sprite.svg?v=1449073269359) 16.637478108581437% 40% no-repeat;
}

.svg-emoji-activity-1f3af-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-1f3b0 {
	background: url(sprite.svg?v=1449073269359) 33.274956217162874% 40% no-repeat;
}

.svg-emoji-activity-1f3b0-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-1f3b1 {
	background: url(sprite.svg?v=1449073269359) 49.91243432574431% 0 no-repeat;
}

.svg-emoji-activity-1f3b1-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-1f3b2 {
	background: url(sprite.svg?v=1449073269359) 49.91243432574431% 20% no-repeat;
}

.svg-emoji-activity-1f3b2-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-1f3b4 {
	background: url(sprite.svg?v=1449073269359) 49.91243432574431% 40% no-repeat;
}

.svg-emoji-activity-1f3b4-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-1f3b5 {
	background: url(sprite.svg?v=1449073269359) 0 60% no-repeat;
}

.svg-emoji-activity-1f3b5-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-1f3b7 {
	background: url(sprite.svg?v=1449073269359) 16.637478108581437% 60% no-repeat;
}

.svg-emoji-activity-1f3b7-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-1f3b8 {
	background: url(sprite.svg?v=1449073269359) 33.274956217162874% 60% no-repeat;
}

.svg-emoji-activity-1f3b8-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-1f3b9 {
	background: url(sprite.svg?v=1449073269359) 49.91243432574431% 60% no-repeat;
}

.svg-emoji-activity-1f3b9-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-1f3ba {
	background: url(sprite.svg?v=1449073269359) 66.54991243432575% 0 no-repeat;
}

.svg-emoji-activity-1f3ba-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-1f3bb {
	background: url(sprite.svg?v=1449073269359) 66.54991243432575% 20% no-repeat;
}

.svg-emoji-activity-1f3bb-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-1f3bc {
	background: url(sprite.svg?v=1449073269359) 66.54991243432575% 40% no-repeat;
}

.svg-emoji-activity-1f3bc-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-1f3c0 {
	background: url(sprite.svg?v=1449073269359) 66.54991243432575% 60% no-repeat;
}

.svg-emoji-activity-1f3c0-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-1f3c1 {
	background: url(sprite.svg?v=1449073269359) 0 80% no-repeat;
}

.svg-emoji-activity-1f3c1-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-1f3c3 {
	background: url(sprite.svg?v=1449073269359) 0 0 no-repeat;
}

.svg-emoji-activity-1f3c3-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-1f3c6 {
	background: url(sprite.svg?v=1449073269359) 33.274956217162874% 80% no-repeat;
}

.svg-emoji-activity-1f3c6-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-1f3c8 {
	background: url(sprite.svg?v=1449073269359) 49.91243432574431% 80% no-repeat;
}

.svg-emoji-activity-1f3c8-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-1f3c9 {
	background: url(sprite.svg?v=1449073269359) 66.54991243432575% 80% no-repeat;
}

.svg-emoji-activity-1f3c9-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-1f3ca {
	background: url(sprite.svg?v=1449073269359) 83.18739054290718% 0 no-repeat;
}

.svg-emoji-activity-1f3ca-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-1f4a4 {
	background: url(sprite.svg?v=1449073269359) 83.18739054290718% 20% no-repeat;
}

.svg-emoji-activity-1f4a4-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-1f4aa {
	background: url(sprite.svg?v=1449073269359) 83.18739054290718% 40% no-repeat;
}

.svg-emoji-activity-1f4aa-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-1f6b4 {
	background: url(sprite.svg?v=1449073269359) 83.18739054290718% 60% no-repeat;
}

.svg-emoji-activity-1f6b4-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-1f6b5 {
	background: url(sprite.svg?v=1449073269359) 83.18739054290718% 80% no-repeat;
}

.svg-emoji-activity-1f6b5-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-baseball {
	background: url(sprite.svg?v=1449073269359) 0 100% no-repeat;
}

.svg-emoji-activity-baseball-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-bowling {
	background: url(sprite.svg?v=1449073269359) 16.637478108581437% 100% no-repeat;
}

.svg-emoji-activity-bowling-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-fishing {
	background: url(sprite.svg?v=1449073269359) 33.274956217162874% 100% no-repeat;
}

.svg-emoji-activity-fishing-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-golfFlag {
	background: url(sprite.svg?v=1449073269359) 49.91243432574431% 100% no-repeat;
}

.svg-emoji-activity-golfFlag-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-horseRace {
	background: url(sprite.svg?v=1449073269359) 66.54991243432575% 100% no-repeat;
}

.svg-emoji-activity-horseRace-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-musicNotes {
	background: url(sprite.svg?v=1449073269359) 83.18739054290718% 100% no-repeat;
}

.svg-emoji-activity-musicNotes-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-skier {
	background: url(sprite.svg?v=1449073269359) 99.82486865148861% 0 no-repeat;
}

.svg-emoji-activity-skier-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-snowboarder {
	background: url(sprite.svg?v=1449073269359) 99.82486865148861% 20% no-repeat;
}

.svg-emoji-activity-snowboarder-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-soccer {
	background: url(sprite.svg?v=1449073269359) 99.82486865148861% 40% no-repeat;
}

.svg-emoji-activity-soccer-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-surfer {
	background: url(sprite.svg?v=1449073269359) 99.82486865148861% 60% no-repeat;
}

.svg-emoji-activity-surfer-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-tennisBall {
	background: url(sprite.svg?v=1449073269359) 99.82486865148861% 80% no-repeat;
}

.svg-emoji-activity-tennisBall-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-activity-walker {
	background: url(sprite.svg?v=1449073269359) 99.82486865148861% 100% no-repeat;
}

.svg-emoji-activity-walker-dims {
	width: 71px;
	height: 71px;
}

