.png-emoji-people-1af600 {
	background: url(sprite.png?v=1449073285763) 8.326029798422436% 0 no-repeat;
}

.png-emoji-people-1af600-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af601 {
	background: url(sprite.png?v=1449073285763) 24.97808939526731% 72.72727272727273% no-repeat;
}

.png-emoji-people-1af601-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af602 {
	background: url(sprite.png?v=1449073285763) 0 9.090909090909092% no-repeat;
}

.png-emoji-people-1af602-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af603 {
	background: url(sprite.png?v=1449073285763) 8.326029798422436% 9.090909090909092% no-repeat;
}

.png-emoji-people-1af603-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af604 {
	background: url(sprite.png?v=1449073285763) 16.65205959684487% 0 no-repeat;
}

.png-emoji-people-1af604-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af605 {
	background: url(sprite.png?v=1449073285763) 16.65205959684487% 9.090909090909092% no-repeat;
}

.png-emoji-people-1af605-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af606 {
	background: url(sprite.png?v=1449073285763) 0 18.181818181818183% no-repeat;
}

.png-emoji-people-1af606-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af607 {
	background: url(sprite.png?v=1449073285763) 8.326029798422436% 18.181818181818183% no-repeat;
}

.png-emoji-people-1af607-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af608 {
	background: url(sprite.png?v=1449073285763) 16.65205959684487% 18.181818181818183% no-repeat;
}

.png-emoji-people-1af608-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af609 {
	background: url(sprite.png?v=1449073285763) 24.97808939526731% 0 no-repeat;
}

.png-emoji-people-1af609-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af60a {
	background: url(sprite.png?v=1449073285763) 24.97808939526731% 9.090909090909092% no-repeat;
}

.png-emoji-people-1af60a-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af60b {
	background: url(sprite.png?v=1449073285763) 24.97808939526731% 18.181818181818183% no-repeat;
}

.png-emoji-people-1af60b-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af60c {
	background: url(sprite.png?v=1449073285763) 0 27.272727272727273% no-repeat;
}

.png-emoji-people-1af60c-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af60d {
	background: url(sprite.png?v=1449073285763) 8.326029798422436% 27.272727272727273% no-repeat;
}

.png-emoji-people-1af60d-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af60e {
	background: url(sprite.png?v=1449073285763) 16.65205959684487% 27.272727272727273% no-repeat;
}

.png-emoji-people-1af60e-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af60f {
	background: url(sprite.png?v=1449073285763) 24.97808939526731% 27.272727272727273% no-repeat;
}

.png-emoji-people-1af60f-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af610 {
	background: url(sprite.png?v=1449073285763) 33.30411919368974% 0 no-repeat;
}

.png-emoji-people-1af610-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af611 {
	background: url(sprite.png?v=1449073285763) 33.30411919368974% 9.090909090909092% no-repeat;
}

.png-emoji-people-1af611-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af612 {
	background: url(sprite.png?v=1449073285763) 33.30411919368974% 18.181818181818183% no-repeat;
}

.png-emoji-people-1af612-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af613 {
	background: url(sprite.png?v=1449073285763) 33.30411919368974% 27.272727272727273% no-repeat;
}

.png-emoji-people-1af613-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af614 {
	background: url(sprite.png?v=1449073285763) 0 36.36363636363637% no-repeat;
}

.png-emoji-people-1af614-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af615 {
	background: url(sprite.png?v=1449073285763) 8.326029798422436% 36.36363636363637% no-repeat;
}

.png-emoji-people-1af615-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af616 {
	background: url(sprite.png?v=1449073285763) 16.65205959684487% 36.36363636363637% no-repeat;
}

.png-emoji-people-1af616-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af617 {
	background: url(sprite.png?v=1449073285763) 24.97808939526731% 36.36363636363637% no-repeat;
}

.png-emoji-people-1af617-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af618 {
	background: url(sprite.png?v=1449073285763) 33.30411919368974% 36.36363636363637% no-repeat;
}

.png-emoji-people-1af618-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af619 {
	background: url(sprite.png?v=1449073285763) 41.63014899211218% 0 no-repeat;
}

.png-emoji-people-1af619-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af61a {
	background: url(sprite.png?v=1449073285763) 41.63014899211218% 9.090909090909092% no-repeat;
}

.png-emoji-people-1af61a-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af61af {
	background: url(sprite.png?v=1449073285763) 41.63014899211218% 18.181818181818183% no-repeat;
}

.png-emoji-people-1af61af-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af61b {
	background: url(sprite.png?v=1449073285763) 41.63014899211218% 27.272727272727273% no-repeat;
}

.png-emoji-people-1af61b-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af61c {
	background: url(sprite.png?v=1449073285763) 41.63014899211218% 36.36363636363637% no-repeat;
}

.png-emoji-people-1af61c-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af61d {
	background: url(sprite.png?v=1449073285763) 0 45.45454545454545% no-repeat;
}

.png-emoji-people-1af61d-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af61e {
	background: url(sprite.png?v=1449073285763) 8.326029798422436% 45.45454545454545% no-repeat;
}

.png-emoji-people-1af61e-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af620 {
	background: url(sprite.png?v=1449073285763) 16.65205959684487% 45.45454545454545% no-repeat;
}

.png-emoji-people-1af620-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af621 {
	background: url(sprite.png?v=1449073285763) 24.97808939526731% 45.45454545454545% no-repeat;
}

.png-emoji-people-1af621-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af622 {
	background: url(sprite.png?v=1449073285763) 33.30411919368974% 45.45454545454545% no-repeat;
}

.png-emoji-people-1af622-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af623 {
	background: url(sprite.png?v=1449073285763) 41.63014899211218% 45.45454545454545% no-repeat;
}

.png-emoji-people-1af623-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af624 {
	background: url(sprite.png?v=1449073285763) 49.95617879053462% 0 no-repeat;
}

.png-emoji-people-1af624-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af625 {
	background: url(sprite.png?v=1449073285763) 49.95617879053462% 9.090909090909092% no-repeat;
}

.png-emoji-people-1af625-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af626 {
	background: url(sprite.png?v=1449073285763) 49.95617879053462% 18.181818181818183% no-repeat;
}

.png-emoji-people-1af626-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af627 {
	background: url(sprite.png?v=1449073285763) 49.95617879053462% 27.272727272727273% no-repeat;
}

.png-emoji-people-1af627-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af628 {
	background: url(sprite.png?v=1449073285763) 49.95617879053462% 36.36363636363637% no-repeat;
}

.png-emoji-people-1af628-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af629 {
	background: url(sprite.png?v=1449073285763) 49.95617879053462% 45.45454545454545% no-repeat;
}

.png-emoji-people-1af629-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af62a {
	background: url(sprite.png?v=1449073285763) 0 54.54545454545455% no-repeat;
}

.png-emoji-people-1af62a-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af62b {
	background: url(sprite.png?v=1449073285763) 8.326029798422436% 54.54545454545455% no-repeat;
}

.png-emoji-people-1af62b-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af62c {
	background: url(sprite.png?v=1449073285763) 16.65205959684487% 54.54545454545455% no-repeat;
}

.png-emoji-people-1af62c-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af62d {
	background: url(sprite.png?v=1449073285763) 24.97808939526731% 54.54545454545455% no-repeat;
}

.png-emoji-people-1af62d-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af62e {
	background: url(sprite.png?v=1449073285763) 33.30411919368974% 54.54545454545455% no-repeat;
}

.png-emoji-people-1af62e-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af62f {
	background: url(sprite.png?v=1449073285763) 41.63014899211218% 54.54545454545455% no-repeat;
}

.png-emoji-people-1af62f-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af630 {
	background: url(sprite.png?v=1449073285763) 49.95617879053462% 54.54545454545455% no-repeat;
}

.png-emoji-people-1af630-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af631 {
	background: url(sprite.png?v=1449073285763) 58.282208588957054% 0 no-repeat;
}

.png-emoji-people-1af631-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af632 {
	background: url(sprite.png?v=1449073285763) 58.282208588957054% 9.090909090909092% no-repeat;
}

.png-emoji-people-1af632-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af633 {
	background: url(sprite.png?v=1449073285763) 58.282208588957054% 18.181818181818183% no-repeat;
}

.png-emoji-people-1af633-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af6331 {
	background: url(sprite.png?v=1449073285763) 58.282208588957054% 27.272727272727273% no-repeat;
}

.png-emoji-people-1af6331-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af634 {
	background: url(sprite.png?v=1449073285763) 58.282208588957054% 36.36363636363637% no-repeat;
}

.png-emoji-people-1af634-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af635 {
	background: url(sprite.png?v=1449073285763) 58.282208588957054% 45.45454545454545% no-repeat;
}

.png-emoji-people-1af635-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af636 {
	background: url(sprite.png?v=1449073285763) 58.282208588957054% 54.54545454545455% no-repeat;
}

.png-emoji-people-1af636-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af637 {
	background: url(sprite.png?v=1449073285763) 0 63.63636363636363% no-repeat;
}

.png-emoji-people-1af637-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af638 {
	background: url(sprite.png?v=1449073285763) 8.326029798422436% 63.63636363636363% no-repeat;
}

.png-emoji-people-1af638-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af639 {
	background: url(sprite.png?v=1449073285763) 16.65205959684487% 63.63636363636363% no-repeat;
}

.png-emoji-people-1af639-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af640 {
	background: url(sprite.png?v=1449073285763) 24.97808939526731% 63.63636363636363% no-repeat;
}

.png-emoji-people-1af640-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af6401 {
	background: url(sprite.png?v=1449073285763) 33.30411919368974% 63.63636363636363% no-repeat;
}

.png-emoji-people-1af6401-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af6402 {
	background: url(sprite.png?v=1449073285763) 41.63014899211218% 63.63636363636363% no-repeat;
}

.png-emoji-people-1af6402-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af6403 {
	background: url(sprite.png?v=1449073285763) 49.95617879053462% 63.63636363636363% no-repeat;
}

.png-emoji-people-1af6403-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af6404 {
	background: url(sprite.png?v=1449073285763) 58.282208588957054% 63.63636363636363% no-repeat;
}

.png-emoji-people-1af6404-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af6405 {
	background: url(sprite.png?v=1449073285763) 66.60823838737949% 0 no-repeat;
}

.png-emoji-people-1af6405-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1af6406 {
	background: url(sprite.png?v=1449073285763) 66.60823838737949% 9.090909090909092% no-repeat;
}

.png-emoji-people-1af6406-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f442 {
	background: url(sprite.png?v=1449073285763) 66.60823838737949% 18.181818181818183% no-repeat;
}

.png-emoji-people-1f442-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f443 {
	background: url(sprite.png?v=1449073285763) 66.60823838737949% 27.272727272727273% no-repeat;
}

.png-emoji-people-1f443-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f444 {
	background: url(sprite.png?v=1449073285763) 66.60823838737949% 36.36363636363637% no-repeat;
}

.png-emoji-people-1f444-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f445 {
	background: url(sprite.png?v=1449073285763) 66.60823838737949% 45.45454545454545% no-repeat;
}

.png-emoji-people-1f445-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f446 {
	background: url(sprite.png?v=1449073285763) 66.60823838737949% 54.54545454545455% no-repeat;
}

.png-emoji-people-1f446-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f447 {
	background: url(sprite.png?v=1449073285763) 66.60823838737949% 63.63636363636363% no-repeat;
}

.png-emoji-people-1f447-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f448 {
	background: url(sprite.png?v=1449073285763) 0 72.72727272727273% no-repeat;
}

.png-emoji-people-1f448-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f449 {
	background: url(sprite.png?v=1449073285763) 8.326029798422436% 72.72727272727273% no-repeat;
}

.png-emoji-people-1f449-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f450 {
	background: url(sprite.png?v=1449073285763) 16.65205959684487% 72.72727272727273% no-repeat;
}

.png-emoji-people-1f450-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f4500 {
	background: url(sprite.png?v=1449073285763) 0 0 no-repeat;
}

.png-emoji-people-1f4500-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f45000 {
	background: url(sprite.png?v=1449073285763) 33.30411919368974% 72.72727272727273% no-repeat;
}

.png-emoji-people-1f45000-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f450000 {
	background: url(sprite.png?v=1449073285763) 41.63014899211218% 72.72727272727273% no-repeat;
}

.png-emoji-people-1f450000-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f4500000 {
	background: url(sprite.png?v=1449073285763) 49.95617879053462% 72.72727272727273% no-repeat;
}

.png-emoji-people-1f4500000-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f45001 {
	background: url(sprite.png?v=1449073285763) 58.282208588957054% 72.72727272727273% no-repeat;
}

.png-emoji-people-1f45001-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f45002 {
	background: url(sprite.png?v=1449073285763) 66.60823838737949% 72.72727272727273% no-repeat;
}

.png-emoji-people-1f45002-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f45003 {
	background: url(sprite.png?v=1449073285763) 74.93426818580193% 0 no-repeat;
}

.png-emoji-people-1f45003-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f45004 {
	background: url(sprite.png?v=1449073285763) 74.93426818580193% 9.090909090909092% no-repeat;
}

.png-emoji-people-1f45004-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f45005 {
	background: url(sprite.png?v=1449073285763) 74.93426818580193% 18.181818181818183% no-repeat;
}

.png-emoji-people-1f45005-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f451 {
	background: url(sprite.png?v=1449073285763) 74.93426818580193% 27.272727272727273% no-repeat;
}

.png-emoji-people-1f451-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f452 {
	background: url(sprite.png?v=1449073285763) 74.93426818580193% 36.36363636363637% no-repeat;
}

.png-emoji-people-1f452-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f453 {
	background: url(sprite.png?v=1449073285763) 74.93426818580193% 45.45454545454545% no-repeat;
}

.png-emoji-people-1f453-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f454 {
	background: url(sprite.png?v=1449073285763) 74.93426818580193% 54.54545454545455% no-repeat;
}

.png-emoji-people-1f454-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f455 {
	background: url(sprite.png?v=1449073285763) 74.93426818580193% 63.63636363636363% no-repeat;
}

.png-emoji-people-1f455-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f456 {
	background: url(sprite.png?v=1449073285763) 74.93426818580193% 72.72727272727273% no-repeat;
}

.png-emoji-people-1f456-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f457 {
	background: url(sprite.png?v=1449073285763) 0 81.81818181818181% no-repeat;
}

.png-emoji-people-1f457-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f458 {
	background: url(sprite.png?v=1449073285763) 8.326029798422436% 81.81818181818181% no-repeat;
}

.png-emoji-people-1f458-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f460 {
	background: url(sprite.png?v=1449073285763) 16.65205959684487% 81.81818181818181% no-repeat;
}

.png-emoji-people-1f460-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f461 {
	background: url(sprite.png?v=1449073285763) 24.97808939526731% 81.81818181818181% no-repeat;
}

.png-emoji-people-1f461-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f462 {
	background: url(sprite.png?v=1449073285763) 33.30411919368974% 81.81818181818181% no-repeat;
}

.png-emoji-people-1f462-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f463 {
	background: url(sprite.png?v=1449073285763) 41.63014899211218% 81.81818181818181% no-repeat;
}

.png-emoji-people-1f463-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f464 {
	background: url(sprite.png?v=1449073285763) 49.95617879053462% 81.81818181818181% no-repeat;
}

.png-emoji-people-1f464-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f465 {
	background: url(sprite.png?v=1449073285763) 58.282208588957054% 81.81818181818181% no-repeat;
}

.png-emoji-people-1f465-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f467 {
	background: url(sprite.png?v=1449073285763) 66.60823838737949% 81.81818181818181% no-repeat;
}

.png-emoji-people-1f467-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f471 {
	background: url(sprite.png?v=1449073285763) 74.93426818580193% 81.81818181818181% no-repeat;
}

.png-emoji-people-1f471-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f472 {
	background: url(sprite.png?v=1449073285763) 83.26029798422437% 0 no-repeat;
}

.png-emoji-people-1f472-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f473 {
	background: url(sprite.png?v=1449073285763) 83.26029798422437% 9.090909090909092% no-repeat;
}

.png-emoji-people-1f473-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f474 {
	background: url(sprite.png?v=1449073285763) 83.26029798422437% 18.181818181818183% no-repeat;
}

.png-emoji-people-1f474-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f475 {
	background: url(sprite.png?v=1449073285763) 83.26029798422437% 27.272727272727273% no-repeat;
}

.png-emoji-people-1f475-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f477 {
	background: url(sprite.png?v=1449073285763) 83.26029798422437% 36.36363636363637% no-repeat;
}

.png-emoji-people-1f477-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f478 {
	background: url(sprite.png?v=1449073285763) 83.26029798422437% 45.45454545454545% no-repeat;
}

.png-emoji-people-1f478-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f479 {
	background: url(sprite.png?v=1449073285763) 83.26029798422437% 54.54545454545455% no-repeat;
}

.png-emoji-people-1f479-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f482 {
	background: url(sprite.png?v=1449073285763) 83.26029798422437% 63.63636363636363% no-repeat;
}

.png-emoji-people-1f482-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f484 {
	background: url(sprite.png?v=1449073285763) 83.26029798422437% 72.72727272727273% no-repeat;
}

.png-emoji-people-1f484-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f485 {
	background: url(sprite.png?v=1449073285763) 83.26029798422437% 81.81818181818181% no-repeat;
}

.png-emoji-people-1f485-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f486 {
	background: url(sprite.png?v=1449073285763) 0 90.9090909090909% no-repeat;
}

.png-emoji-people-1f486-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f487 {
	background: url(sprite.png?v=1449073285763) 8.326029798422436% 90.9090909090909% no-repeat;
}

.png-emoji-people-1f487-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f491 {
	background: url(sprite.png?v=1449073285763) 16.65205959684487% 90.9090909090909% no-repeat;
}

.png-emoji-people-1f491-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f645 {
	background: url(sprite.png?v=1449073285763) 24.97808939526731% 90.9090909090909% no-repeat;
}

.png-emoji-people-1f645-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f646 {
	background: url(sprite.png?v=1449073285763) 33.30411919368974% 90.9090909090909% no-repeat;
}

.png-emoji-people-1f646-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f647 {
	background: url(sprite.png?v=1449073285763) 41.63014899211218% 90.9090909090909% no-repeat;
}

.png-emoji-people-1f647-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f64a {
	background: url(sprite.png?v=1449073285763) 49.95617879053462% 90.9090909090909% no-repeat;
}

.png-emoji-people-1f64a-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f64aa {
	background: url(sprite.png?v=1449073285763) 58.282208588957054% 90.9090909090909% no-repeat;
}

.png-emoji-people-1f64aa-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f64aaa {
	background: url(sprite.png?v=1449073285763) 66.60823838737949% 90.9090909090909% no-repeat;
}

.png-emoji-people-1f64aaa-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f64aab {
	background: url(sprite.png?v=1449073285763) 74.93426818580193% 90.9090909090909% no-repeat;
}

.png-emoji-people-1f64aab-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f64b {
	background: url(sprite.png?v=1449073285763) 83.26029798422437% 90.9090909090909% no-repeat;
}

.png-emoji-people-1f64b-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f64d {
	background: url(sprite.png?v=1449073285763) 91.5863277826468% 0 no-repeat;
}

.png-emoji-people-1f64d-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-1f64e {
	background: url(sprite.png?v=1449073285763) 91.5863277826468% 9.090909090909092% no-repeat;
}

.png-emoji-people-1f64e-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-22f0cf {
	background: url(sprite.png?v=1449073285763) 91.5863277826468% 18.181818181818183% no-repeat;
}

.png-emoji-people-22f0cf-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-22f45a {
	background: url(sprite.png?v=1449073285763) 91.5863277826468% 27.272727272727273% no-repeat;
}

.png-emoji-people-22f45a-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-22f45e {
	background: url(sprite.png?v=1449073285763) 91.5863277826468% 36.36363636363637% no-repeat;
}

.png-emoji-people-22f45e-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-22f45f {
	background: url(sprite.png?v=1449073285763) 91.5863277826468% 45.45454545454545% no-repeat;
}

.png-emoji-people-22f45f-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-22f46a {
	background: url(sprite.png?v=1449073285763) 91.5863277826468% 54.54545454545455% no-repeat;
}

.png-emoji-people-22f46a-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-22f46b {
	background: url(sprite.png?v=1449073285763) 91.5863277826468% 63.63636363636363% no-repeat;
}

.png-emoji-people-22f46b-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-22f46c {
	background: url(sprite.png?v=1449073285763) 91.5863277826468% 72.72727272727273% no-repeat;
}

.png-emoji-people-22f46c-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-22f46d {
	background: url(sprite.png?v=1449073285763) 91.5863277826468% 81.81818181818181% no-repeat;
}

.png-emoji-people-22f46d-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-22f47a {
	background: url(sprite.png?v=1449073285763) 91.5863277826468% 90.9090909090909% no-repeat;
}

.png-emoji-people-22f47a-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-22f47c {
	background: url(sprite.png?v=1449073285763) 0 100% no-repeat;
}

.png-emoji-people-22f47c-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-22f47d {
	background: url(sprite.png?v=1449073285763) 8.326029798422436% 100% no-repeat;
}

.png-emoji-people-22f47d-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-22f47f {
	background: url(sprite.png?v=1449073285763) 16.65205959684487% 100% no-repeat;
}

.png-emoji-people-22f47f-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-22f48f {
	background: url(sprite.png?v=1449073285763) 24.97808939526731% 100% no-repeat;
}

.png-emoji-people-22f48f-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-231a {
	background: url(sprite.png?v=1449073285763) 33.30411919368974% 100% no-repeat;
}

.png-emoji-people-231a-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-EdSheeran {
	background: url(sprite.png?v=1449073285763) 41.63014899211218% 100% no-repeat;
}

.png-emoji-people-EdSheeran-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-Haley_Williams {
	background: url(sprite.png?v=1449073285763) 49.95617879053462% 100% no-repeat;
}

.png-emoji-people-Haley_Williams-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-NovakDjokovic {
	background: url(sprite.png?v=1449073285763) 58.282208588957054% 100% no-repeat;
}

.png-emoji-people-NovakDjokovic-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-RogerFederer {
	background: url(sprite.png?v=1449073285763) 66.60823838737949% 100% no-repeat;
}

.png-emoji-people-RogerFederer-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-baby {
	background: url(sprite.png?v=1449073285763) 74.93426818580193% 100% no-repeat;
}

.png-emoji-people-baby-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-bikini {
	background: url(sprite.png?v=1449073285763) 83.26029798422437% 100% no-repeat;
}

.png-emoji-people-bikini-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-cop {
	background: url(sprite.png?v=1449073285763) 91.5863277826468% 100% no-repeat;
}

.png-emoji-people-cop-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-dancingGirls {
	background: url(sprite.png?v=1449073285763) 99.91235758106924% 0 no-repeat;
}

.png-emoji-people-dancingGirls-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-red_head_boy {
	background: url(sprite.png?v=1449073285763) 99.91235758106924% 9.090909090909092% no-repeat;
}

.png-emoji-people-red_head_boy-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-red_head_girl {
	background: url(sprite.png?v=1449073285763) 99.91235758106924% 18.181818181818183% no-repeat;
}

.png-emoji-people-red_head_girl-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-santa {
	background: url(sprite.png?v=1449073285763) 99.91235758106924% 27.272727272727273% no-repeat;
}

.png-emoji-people-santa-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-weddingGirl {
	background: url(sprite.png?v=1449073285763) 99.91235758106924% 36.36363636363637% no-repeat;
}

.png-emoji-people-weddingGirl-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-whateverGirl {
	background: url(sprite.png?v=1449073285763) 99.91235758106924% 45.45454545454545% no-repeat;
}

.png-emoji-people-whateverGirl-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-people-women {
	background: url(sprite.png?v=1449073285763) 99.91235758106924% 54.54545454545455% no-repeat;
}

.png-emoji-people-women-dims {
	width: 71px;
	height: 71px;
}

