.png-emoji-fooddrink-1f350 {
	background: url(sprite.png?v=1449073272665) 16.637478108581437% 0 no-repeat;
}

.png-emoji-fooddrink-1f350-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-1f352 {
	background: url(sprite.png?v=1449073272665) 16.637478108581437% 66.54991243432575% no-repeat;
}

.png-emoji-fooddrink-1f352-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-1f354 {
	background: url(sprite.png?v=1449073272665) 0 16.637478108581437% no-repeat;
}

.png-emoji-fooddrink-1f354-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-1f355 {
	background: url(sprite.png?v=1449073272665) 16.637478108581437% 16.637478108581437% no-repeat;
}

.png-emoji-fooddrink-1f355-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-1f356 {
	background: url(sprite.png?v=1449073272665) 33.274956217162874% 0 no-repeat;
}

.png-emoji-fooddrink-1f356-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-1f357 {
	background: url(sprite.png?v=1449073272665) 33.274956217162874% 16.637478108581437% no-repeat;
}

.png-emoji-fooddrink-1f357-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-1f358 {
	background: url(sprite.png?v=1449073272665) 0 33.274956217162874% no-repeat;
}

.png-emoji-fooddrink-1f358-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-1f359 {
	background: url(sprite.png?v=1449073272665) 16.637478108581437% 33.274956217162874% no-repeat;
}

.png-emoji-fooddrink-1f359-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-1f35a {
	background: url(sprite.png?v=1449073272665) 33.274956217162874% 33.274956217162874% no-repeat;
}

.png-emoji-fooddrink-1f35a-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-1f35b {
	background: url(sprite.png?v=1449073272665) 49.91243432574431% 0 no-repeat;
}

.png-emoji-fooddrink-1f35b-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-1f35c {
	background: url(sprite.png?v=1449073272665) 49.91243432574431% 16.637478108581437% no-repeat;
}

.png-emoji-fooddrink-1f35c-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-1f35d {
	background: url(sprite.png?v=1449073272665) 49.91243432574431% 33.274956217162874% no-repeat;
}

.png-emoji-fooddrink-1f35d-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-1f35e {
	background: url(sprite.png?v=1449073272665) 0 49.91243432574431% no-repeat;
}

.png-emoji-fooddrink-1f35e-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-1f35f {
	background: url(sprite.png?v=1449073272665) 16.637478108581437% 49.91243432574431% no-repeat;
}

.png-emoji-fooddrink-1f35f-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-1f360 {
	background: url(sprite.png?v=1449073272665) 33.274956217162874% 49.91243432574431% no-repeat;
}

.png-emoji-fooddrink-1f360-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-1f361 {
	background: url(sprite.png?v=1449073272665) 49.91243432574431% 49.91243432574431% no-repeat;
}

.png-emoji-fooddrink-1f361-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-1f362 {
	background: url(sprite.png?v=1449073272665) 66.54991243432575% 0 no-repeat;
}

.png-emoji-fooddrink-1f362-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-1f363 {
	background: url(sprite.png?v=1449073272665) 66.54991243432575% 16.637478108581437% no-repeat;
}

.png-emoji-fooddrink-1f363-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-1f364 {
	background: url(sprite.png?v=1449073272665) 66.54991243432575% 33.274956217162874% no-repeat;
}

.png-emoji-fooddrink-1f364-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-1f365 {
	background: url(sprite.png?v=1449073272665) 66.54991243432575% 49.91243432574431% no-repeat;
}

.png-emoji-fooddrink-1f365-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-1f367 {
	background: url(sprite.png?v=1449073272665) 0 66.54991243432575% no-repeat;
}

.png-emoji-fooddrink-1f367-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-1f368 {
	background: url(sprite.png?v=1449073272665) 0 0 no-repeat;
}

.png-emoji-fooddrink-1f368-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-1f369 {
	background: url(sprite.png?v=1449073272665) 33.274956217162874% 66.54991243432575% no-repeat;
}

.png-emoji-fooddrink-1f369-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-1f36a {
	background: url(sprite.png?v=1449073272665) 49.91243432574431% 66.54991243432575% no-repeat;
}

.png-emoji-fooddrink-1f36a-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-1f36b {
	background: url(sprite.png?v=1449073272665) 66.54991243432575% 66.54991243432575% no-repeat;
}

.png-emoji-fooddrink-1f36b-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-1f36c {
	background: url(sprite.png?v=1449073272665) 83.18739054290718% 0 no-repeat;
}

.png-emoji-fooddrink-1f36c-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-1f36d {
	background: url(sprite.png?v=1449073272665) 83.18739054290718% 16.637478108581437% no-repeat;
}

.png-emoji-fooddrink-1f36d-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-1f36e {
	background: url(sprite.png?v=1449073272665) 83.18739054290718% 33.274956217162874% no-repeat;
}

.png-emoji-fooddrink-1f36e-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-1f36f {
	background: url(sprite.png?v=1449073272665) 83.18739054290718% 49.91243432574431% no-repeat;
}

.png-emoji-fooddrink-1f36f-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-1f370 {
	background: url(sprite.png?v=1449073272665) 83.18739054290718% 66.54991243432575% no-repeat;
}

.png-emoji-fooddrink-1f370-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-1f371 {
	background: url(sprite.png?v=1449073272665) 0 83.18739054290718% no-repeat;
}

.png-emoji-fooddrink-1f371-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-1f372 {
	background: url(sprite.png?v=1449073272665) 16.637478108581437% 83.18739054290718% no-repeat;
}

.png-emoji-fooddrink-1f372-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-1f373 {
	background: url(sprite.png?v=1449073272665) 33.274956217162874% 83.18739054290718% no-repeat;
}

.png-emoji-fooddrink-1f373-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-1f374 {
	background: url(sprite.png?v=1449073272665) 49.91243432574431% 83.18739054290718% no-repeat;
}

.png-emoji-fooddrink-1f374-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-1f375 {
	background: url(sprite.png?v=1449073272665) 66.54991243432575% 83.18739054290718% no-repeat;
}

.png-emoji-fooddrink-1f375-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-1f376 {
	background: url(sprite.png?v=1449073272665) 83.18739054290718% 83.18739054290718% no-repeat;
}

.png-emoji-fooddrink-1f376-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-1f377 {
	background: url(sprite.png?v=1449073272665) 99.82486865148861% 0 no-repeat;
}

.png-emoji-fooddrink-1f377-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-1f37c {
	background: url(sprite.png?v=1449073272665) 99.82486865148861% 16.637478108581437% no-repeat;
}

.png-emoji-fooddrink-1f37c-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-2615 {
	background: url(sprite.png?v=1449073272665) 99.82486865148861% 33.274956217162874% no-repeat;
}

.png-emoji-fooddrink-2615-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-cocktail {
	background: url(sprite.png?v=1449073272665) 99.82486865148861% 49.91243432574431% no-repeat;
}

.png-emoji-fooddrink-cocktail-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-cone {
	background: url(sprite.png?v=1449073272665) 99.82486865148861% 66.54991243432575% no-repeat;
}

.png-emoji-fooddrink-cone-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-mixedDrink {
	background: url(sprite.png?v=1449073272665) 99.82486865148861% 83.18739054290718% no-repeat;
}

.png-emoji-fooddrink-mixedDrink-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-fooddrink-strawberry {
	background: url(sprite.png?v=1449073272665) 0 99.82486865148861% no-repeat;
}

.png-emoji-fooddrink-strawberry-dims {
	width: 71px;
	height: 71px;
}

