.svg-emoji-misc-1f194 {
	background: url(sprite.svg?v=1449073280394) 9.989484752891693% 0 no-repeat;
}

.svg-emoji-misc-1f194-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f195 {
	background: url(sprite.svg?v=1449073280394) 9.989484752891693% 69.92639327024185% no-repeat;
}

.svg-emoji-misc-1f195-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f197 {
	background: url(sprite.svg?v=1449073280394) 0 9.989484752891693% no-repeat;
}

.svg-emoji-misc-1f197-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f19a {
	background: url(sprite.svg?v=1449073280394) 9.989484752891693% 9.989484752891693% no-repeat;
}

.svg-emoji-misc-1f19a-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f47b {
	background: url(sprite.svg?v=1449073280394) 19.978969505783386% 0 no-repeat;
}

.svg-emoji-misc-1f47b-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f47e {
	background: url(sprite.svg?v=1449073280394) 19.978969505783386% 9.989484752891693% no-repeat;
}

.svg-emoji-misc-1f47e-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f488 {
	background: url(sprite.svg?v=1449073280394) 0 19.978969505783386% no-repeat;
}

.svg-emoji-misc-1f488-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f495 {
	background: url(sprite.svg?v=1449073280394) 9.989484752891693% 19.978969505783386% no-repeat;
}

.svg-emoji-misc-1f495-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f496 {
	background: url(sprite.svg?v=1449073280394) 19.978969505783386% 19.978969505783386% no-repeat;
}

.svg-emoji-misc-1f496-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f497 {
	background: url(sprite.svg?v=1449073280394) 29.968454258675077% 0 no-repeat;
}

.svg-emoji-misc-1f497-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f498 {
	background: url(sprite.svg?v=1449073280394) 29.968454258675077% 9.989484752891693% no-repeat;
}

.svg-emoji-misc-1f498-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4a1 {
	background: url(sprite.svg?v=1449073280394) 29.968454258675077% 19.978969505783386% no-repeat;
}

.svg-emoji-misc-1f4a1-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4ac {
	background: url(sprite.svg?v=1449073280394) 0 29.968454258675077% no-repeat;
}

.svg-emoji-misc-1f4ac-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4b3 {
	background: url(sprite.svg?v=1449073280394) 9.989484752891693% 29.968454258675077% no-repeat;
}

.svg-emoji-misc-1f4b3-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4b4 {
	background: url(sprite.svg?v=1449073280394) 19.978969505783386% 29.968454258675077% no-repeat;
}

.svg-emoji-misc-1f4b4-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4b5 {
	background: url(sprite.svg?v=1449073280394) 29.968454258675077% 29.968454258675077% no-repeat;
}

.svg-emoji-misc-1f4b5-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4b6 {
	background: url(sprite.svg?v=1449073280394) 39.95793901156677% 0 no-repeat;
}

.svg-emoji-misc-1f4b6-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4b7 {
	background: url(sprite.svg?v=1449073280394) 39.95793901156677% 9.989484752891693% no-repeat;
}

.svg-emoji-misc-1f4b7-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4b8 {
	background: url(sprite.svg?v=1449073280394) 39.95793901156677% 19.978969505783386% no-repeat;
}

.svg-emoji-misc-1f4b8-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4b9 {
	background: url(sprite.svg?v=1449073280394) 39.95793901156677% 29.968454258675077% no-repeat;
}

.svg-emoji-misc-1f4b9-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4ba {
	background: url(sprite.svg?v=1449073280394) 0 39.95793901156677% no-repeat;
}

.svg-emoji-misc-1f4ba-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4bb {
	background: url(sprite.svg?v=1449073280394) 9.989484752891693% 39.95793901156677% no-repeat;
}

.svg-emoji-misc-1f4bb-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4bc {
	background: url(sprite.svg?v=1449073280394) 19.978969505783386% 39.95793901156677% no-repeat;
}

.svg-emoji-misc-1f4bc-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4bd {
	background: url(sprite.svg?v=1449073280394) 29.968454258675077% 39.95793901156677% no-repeat;
}

.svg-emoji-misc-1f4bd-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4bf {
	background: url(sprite.svg?v=1449073280394) 39.95793901156677% 39.95793901156677% no-repeat;
}

.svg-emoji-misc-1f4bf-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4c0 {
	background: url(sprite.svg?v=1449073280394) 49.94742376445846% 0 no-repeat;
}

.svg-emoji-misc-1f4c0-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4c1 {
	background: url(sprite.svg?v=1449073280394) 49.94742376445846% 9.989484752891693% no-repeat;
}

.svg-emoji-misc-1f4c1-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4c5 {
	background: url(sprite.svg?v=1449073280394) 49.94742376445846% 19.978969505783386% no-repeat;
}

.svg-emoji-misc-1f4c5-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4c8 {
	background: url(sprite.svg?v=1449073280394) 49.94742376445846% 29.968454258675077% no-repeat;
}

.svg-emoji-misc-1f4c8-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4ca {
	background: url(sprite.svg?v=1449073280394) 49.94742376445846% 39.95793901156677% no-repeat;
}

.svg-emoji-misc-1f4ca-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4cb {
	background: url(sprite.svg?v=1449073280394) 0 49.94742376445846% no-repeat;
}

.svg-emoji-misc-1f4cb-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4ce {
	background: url(sprite.svg?v=1449073280394) 9.989484752891693% 49.94742376445846% no-repeat;
}

.svg-emoji-misc-1f4ce-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4cf {
	background: url(sprite.svg?v=1449073280394) 19.978969505783386% 49.94742376445846% no-repeat;
}

.svg-emoji-misc-1f4cf-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4d0 {
	background: url(sprite.svg?v=1449073280394) 29.968454258675077% 49.94742376445846% no-repeat;
}

.svg-emoji-misc-1f4d0-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4d5 {
	background: url(sprite.svg?v=1449073280394) 39.95793901156677% 49.94742376445846% no-repeat;
}

.svg-emoji-misc-1f4d5-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4d8 {
	background: url(sprite.svg?v=1449073280394) 49.94742376445846% 49.94742376445846% no-repeat;
}

.svg-emoji-misc-1f4d8-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4da {
	background: url(sprite.svg?v=1449073280394) 59.936908517350155% 0 no-repeat;
}

.svg-emoji-misc-1f4da-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4db {
	background: url(sprite.svg?v=1449073280394) 59.936908517350155% 9.989484752891693% no-repeat;
}

.svg-emoji-misc-1f4db-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4dd {
	background: url(sprite.svg?v=1449073280394) 59.936908517350155% 19.978969505783386% no-repeat;
}

.svg-emoji-misc-1f4dd-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4de {
	background: url(sprite.svg?v=1449073280394) 59.936908517350155% 29.968454258675077% no-repeat;
}

.svg-emoji-misc-1f4de-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4e2 {
	background: url(sprite.svg?v=1449073280394) 59.936908517350155% 39.95793901156677% no-repeat;
}

.svg-emoji-misc-1f4e2-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4e6 {
	background: url(sprite.svg?v=1449073280394) 59.936908517350155% 49.94742376445846% no-repeat;
}

.svg-emoji-misc-1f4e6-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4e8 {
	background: url(sprite.svg?v=1449073280394) 0 59.936908517350155% no-repeat;
}

.svg-emoji-misc-1f4e8-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4e9 {
	background: url(sprite.svg?v=1449073280394) 9.989484752891693% 59.936908517350155% no-repeat;
}

.svg-emoji-misc-1f4e9-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4ea {
	background: url(sprite.svg?v=1449073280394) 19.978969505783386% 59.936908517350155% no-repeat;
}

.svg-emoji-misc-1f4ea-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4eb {
	background: url(sprite.svg?v=1449073280394) 29.968454258675077% 59.936908517350155% no-repeat;
}

.svg-emoji-misc-1f4eb-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4f1 {
	background: url(sprite.svg?v=1449073280394) 39.95793901156677% 59.936908517350155% no-repeat;
}

.svg-emoji-misc-1f4f1-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4f5 {
	background: url(sprite.svg?v=1449073280394) 49.94742376445846% 59.936908517350155% no-repeat;
}

.svg-emoji-misc-1f4f5-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4f6 {
	background: url(sprite.svg?v=1449073280394) 59.936908517350155% 59.936908517350155% no-repeat;
}

.svg-emoji-misc-1f4f6-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4f7 {
	background: url(sprite.svg?v=1449073280394) 69.92639327024185% 0 no-repeat;
}

.svg-emoji-misc-1f4f7-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4f9 {
	background: url(sprite.svg?v=1449073280394) 69.92639327024185% 9.989484752891693% no-repeat;
}

.svg-emoji-misc-1f4f9-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4fa {
	background: url(sprite.svg?v=1449073280394) 69.92639327024185% 19.978969505783386% no-repeat;
}

.svg-emoji-misc-1f4fa-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4fb {
	background: url(sprite.svg?v=1449073280394) 69.92639327024185% 29.968454258675077% no-repeat;
}

.svg-emoji-misc-1f4fb-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f4fc {
	background: url(sprite.svg?v=1449073280394) 69.92639327024185% 39.95793901156677% no-repeat;
}

.svg-emoji-misc-1f4fc-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f508 {
	background: url(sprite.svg?v=1449073280394) 69.92639327024185% 49.94742376445846% no-repeat;
}

.svg-emoji-misc-1f508-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f509 {
	background: url(sprite.svg?v=1449073280394) 69.92639327024185% 59.936908517350155% no-repeat;
}

.svg-emoji-misc-1f509-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f50c {
	background: url(sprite.svg?v=1449073280394) 0 69.92639327024185% no-repeat;
}

.svg-emoji-misc-1f50c-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f511 {
	background: url(sprite.svg?v=1449073280394) 0 0 no-repeat;
}

.svg-emoji-misc-1f511-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f512 {
	background: url(sprite.svg?v=1449073280394) 19.978969505783386% 69.92639327024185% no-repeat;
}

.svg-emoji-misc-1f512-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f51a {
	background: url(sprite.svg?v=1449073280394) 29.968454258675077% 69.92639327024185% no-repeat;
}

.svg-emoji-misc-1f51a-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f51b {
	background: url(sprite.svg?v=1449073280394) 39.95793901156677% 69.92639327024185% no-repeat;
}

.svg-emoji-misc-1f51b-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f51c {
	background: url(sprite.svg?v=1449073280394) 49.94742376445846% 69.92639327024185% no-repeat;
}

.svg-emoji-misc-1f51c-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f51d {
	background: url(sprite.svg?v=1449073280394) 59.936908517350155% 69.92639327024185% no-repeat;
}

.svg-emoji-misc-1f51d-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f526 {
	background: url(sprite.svg?v=1449073280394) 69.92639327024185% 69.92639327024185% no-repeat;
}

.svg-emoji-misc-1f526-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f527 {
	background: url(sprite.svg?v=1449073280394) 79.91587802313354% 0 no-repeat;
}

.svg-emoji-misc-1f527-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f528 {
	background: url(sprite.svg?v=1449073280394) 79.91587802313354% 9.989484752891693% no-repeat;
}

.svg-emoji-misc-1f528-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f529 {
	background: url(sprite.svg?v=1449073280394) 79.91587802313354% 19.978969505783386% no-repeat;
}

.svg-emoji-misc-1f529-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f52c {
	background: url(sprite.svg?v=1449073280394) 79.91587802313354% 29.968454258675077% no-repeat;
}

.svg-emoji-misc-1f52c-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f52d {
	background: url(sprite.svg?v=1449073280394) 79.91587802313354% 39.95793901156677% no-repeat;
}

.svg-emoji-misc-1f52d-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f52e {
	background: url(sprite.svg?v=1449073280394) 79.91587802313354% 49.94742376445846% no-repeat;
}

.svg-emoji-misc-1f52e-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f552 {
	background: url(sprite.svg?v=1449073280394) 79.91587802313354% 59.936908517350155% no-repeat;
}

.svg-emoji-misc-1f552-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f6ab {
	background: url(sprite.svg?v=1449073280394) 79.91587802313354% 69.92639327024185% no-repeat;
}

.svg-emoji-misc-1f6ab-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f6ad {
	background: url(sprite.svg?v=1449073280394) 0 79.91587802313354% no-repeat;
}

.svg-emoji-misc-1f6ad-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f6ae {
	background: url(sprite.svg?v=1449073280394) 9.989484752891693% 79.91587802313354% no-repeat;
}

.svg-emoji-misc-1f6ae-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f6af {
	background: url(sprite.svg?v=1449073280394) 19.978969505783386% 79.91587802313354% no-repeat;
}

.svg-emoji-misc-1f6af-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f6b0 {
	background: url(sprite.svg?v=1449073280394) 29.968454258675077% 79.91587802313354% no-repeat;
}

.svg-emoji-misc-1f6b0-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f6b1 {
	background: url(sprite.svg?v=1449073280394) 39.95793901156677% 79.91587802313354% no-repeat;
}

.svg-emoji-misc-1f6b1-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f6b3 {
	background: url(sprite.svg?v=1449073280394) 49.94742376445846% 79.91587802313354% no-repeat;
}

.svg-emoji-misc-1f6b3-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f6b7 {
	background: url(sprite.svg?v=1449073280394) 59.936908517350155% 79.91587802313354% no-repeat;
}

.svg-emoji-misc-1f6b7-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f6b8 {
	background: url(sprite.svg?v=1449073280394) 69.92639327024185% 79.91587802313354% no-repeat;
}

.svg-emoji-misc-1f6b8-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f6b9 {
	background: url(sprite.svg?v=1449073280394) 79.91587802313354% 79.91587802313354% no-repeat;
}

.svg-emoji-misc-1f6b9-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f6ba {
	background: url(sprite.svg?v=1449073280394) 89.90536277602524% 0 no-repeat;
}

.svg-emoji-misc-1f6ba-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f6bb {
	background: url(sprite.svg?v=1449073280394) 89.90536277602524% 9.989484752891693% no-repeat;
}

.svg-emoji-misc-1f6bb-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f6bc {
	background: url(sprite.svg?v=1449073280394) 89.90536277602524% 19.978969505783386% no-repeat;
}

.svg-emoji-misc-1f6bc-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f6bd {
	background: url(sprite.svg?v=1449073280394) 89.90536277602524% 29.968454258675077% no-repeat;
}

.svg-emoji-misc-1f6bd-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f6c0 {
	background: url(sprite.svg?v=1449073280394) 89.90536277602524% 39.95793901156677% no-repeat;
}

.svg-emoji-misc-1f6c0-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-1f6c1 {
	background: url(sprite.svg?v=1449073280394) 89.90536277602524% 49.94742376445846% no-repeat;
}

.svg-emoji-misc-1f6c1-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-2648 {
	background: url(sprite.svg?v=1449073280394) 89.90536277602524% 59.936908517350155% no-repeat;
}

.svg-emoji-misc-2648-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-2649 {
	background: url(sprite.svg?v=1449073280394) 89.90536277602524% 69.92639327024185% no-repeat;
}

.svg-emoji-misc-2649-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-264a {
	background: url(sprite.svg?v=1449073280394) 89.90536277602524% 79.91587802313354% no-repeat;
}

.svg-emoji-misc-264a-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-264b {
	background: url(sprite.svg?v=1449073280394) 0 89.90536277602524% no-repeat;
}

.svg-emoji-misc-264b-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-264c {
	background: url(sprite.svg?v=1449073280394) 9.989484752891693% 89.90536277602524% no-repeat;
}

.svg-emoji-misc-264c-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-264d {
	background: url(sprite.svg?v=1449073280394) 19.978969505783386% 89.90536277602524% no-repeat;
}

.svg-emoji-misc-264d-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-264e {
	background: url(sprite.svg?v=1449073280394) 29.968454258675077% 89.90536277602524% no-repeat;
}

.svg-emoji-misc-264e-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-264f {
	background: url(sprite.svg?v=1449073280394) 39.95793901156677% 89.90536277602524% no-repeat;
}

.svg-emoji-misc-264f-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-2650 {
	background: url(sprite.svg?v=1449073280394) 49.94742376445846% 89.90536277602524% no-repeat;
}

.svg-emoji-misc-2650-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-2651 {
	background: url(sprite.svg?v=1449073280394) 59.936908517350155% 89.90536277602524% no-repeat;
}

.svg-emoji-misc-2651-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-2652 {
	background: url(sprite.svg?v=1449073280394) 69.92639327024185% 89.90536277602524% no-repeat;
}

.svg-emoji-misc-2652-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-2653 {
	background: url(sprite.svg?v=1449073280394) 79.91587802313354% 89.90536277602524% no-repeat;
}

.svg-emoji-misc-2653-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-267b {
	background: url(sprite.svg?v=1449073280394) 89.90536277602524% 89.90536277602524% no-repeat;
}

.svg-emoji-misc-267b-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-267f {
	background: url(sprite.svg?v=1449073280394) 99.89484752891693% 0 no-repeat;
}

.svg-emoji-misc-267f-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-26a0 {
	background: url(sprite.svg?v=1449073280394) 99.89484752891693% 9.989484752891693% no-repeat;
}

.svg-emoji-misc-26a0-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-2714 {
	background: url(sprite.svg?v=1449073280394) 99.89484752891693% 19.978969505783386% no-repeat;
}

.svg-emoji-misc-2714-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-2716 {
	background: url(sprite.svg?v=1449073280394) 99.89484752891693% 29.968454258675077% no-repeat;
}

.svg-emoji-misc-2716-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-2753 {
	background: url(sprite.svg?v=1449073280394) 99.89484752891693% 39.95793901156677% no-repeat;
}

.svg-emoji-misc-2753-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-2754 {
	background: url(sprite.svg?v=1449073280394) 99.89484752891693% 49.94742376445846% no-repeat;
}

.svg-emoji-misc-2754-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-2755 {
	background: url(sprite.svg?v=1449073280394) 99.89484752891693% 59.936908517350155% no-repeat;
}

.svg-emoji-misc-2755-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-2757 {
	background: url(sprite.svg?v=1449073280394) 99.89484752891693% 69.92639327024185% no-repeat;
}

.svg-emoji-misc-2757-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-2796 {
	background: url(sprite.svg?v=1449073280394) 99.89484752891693% 79.91587802313354% no-repeat;
}

.svg-emoji-misc-2796-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-2797 {
	background: url(sprite.svg?v=1449073280394) 99.89484752891693% 89.90536277602524% no-repeat;
}

.svg-emoji-misc-2797-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-Chirp {
	background: url(sprite.svg?v=1449073280394) 0 99.89484752891693% no-repeat;
}

.svg-emoji-misc-Chirp-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-construction {
	background: url(sprite.svg?v=1449073280394) 9.989484752891693% 99.89484752891693% no-repeat;
}

.svg-emoji-misc-construction-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-free {
	background: url(sprite.svg?v=1449073280394) 19.978969505783386% 99.89484752891693% no-repeat;
}

.svg-emoji-misc-free-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-siren {
	background: url(sprite.svg?v=1449073280394) 29.968454258675077% 99.89484752891693% no-repeat;
}

.svg-emoji-misc-siren-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-misc-sos {
	background: url(sprite.svg?v=1449073280394) 39.95793901156677% 99.89484752891693% no-repeat;
}

.svg-emoji-misc-sos-dims {
	width: 71px;
	height: 71px;
}

