.svg-emoji-trending-EdSheeran {
	background: url(sprite.svg?v=1449073274657) 0 0 no-repeat;
}

.svg-emoji-trending-EdSheeran-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-trending-Haley_Williams {
	background: url(sprite.svg?v=1449073274657) 49.738219895287955% 0 no-repeat;
}

.svg-emoji-trending-Haley_Williams-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-trending-NovakDjokovic {
	background: url(sprite.svg?v=1449073274657) 0 100% no-repeat;
}

.svg-emoji-trending-NovakDjokovic-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-trending-RogerFederer {
	background: url(sprite.svg?v=1449073274657) 49.738219895287955% 100% no-repeat;
}

.svg-emoji-trending-RogerFederer-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-trending-red_head_boy {
	background: url(sprite.svg?v=1449073274657) 99.47643979057591% 0 no-repeat;
}

.svg-emoji-trending-red_head_boy-dims {
	width: 71px;
	height: 71px;
}

.svg-emoji-trending-red_head_girl {
	background: url(sprite.svg?v=1449073274657) 99.47643979057591% 100% no-repeat;
}

.svg-emoji-trending-red_head_girl-dims {
	width: 71px;
	height: 71px;
}

