.png-emoji-refugee-01_house {
	background: url(sprite.png?v=1449073276155) 24.93438320209974% 0 no-repeat;
}

.png-emoji-refugee-01_house-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-refugee-02_tent {
	background: url(sprite.png?v=1449073276155) 74.80314960629921% 24.93438320209974% no-repeat;
}

.png-emoji-refugee-02_tent-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-refugee-03_medicine {
	background: url(sprite.png?v=1449073276155) 0 24.93438320209974% no-repeat;
}

.png-emoji-refugee-03_medicine-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-refugee-04_water {
	background: url(sprite.png?v=1449073276155) 24.93438320209974% 24.93438320209974% no-repeat;
}

.png-emoji-refugee-04_water-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-refugee-05_food {
	background: url(sprite.png?v=1449073276155) 49.86876640419948% 0 no-repeat;
}

.png-emoji-refugee-05_food-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-refugee-06_love {
	background: url(sprite.png?v=1449073276155) 49.86876640419948% 24.93438320209974% no-repeat;
}

.png-emoji-refugee-06_love-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-refugee-07_charge {
	background: url(sprite.png?v=1449073276155) 0 49.86876640419948% no-repeat;
}

.png-emoji-refugee-07_charge-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-refugee-08_buyPhone {
	background: url(sprite.png?v=1449073276155) 24.93438320209974% 49.86876640419948% no-repeat;
}

.png-emoji-refugee-08_buyPhone-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-refugee-09_alert {
	background: url(sprite.png?v=1449073276155) 49.86876640419948% 49.86876640419948% no-repeat;
}

.png-emoji-refugee-09_alert-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-refugee-10_question {
	background: url(sprite.png?v=1449073276155) 74.80314960629921% 0 no-repeat;
}

.png-emoji-refugee-10_question-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-refugee-11_stop {
	background: url(sprite.png?v=1449073276155) 0 0 no-repeat;
}

.png-emoji-refugee-11_stop-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-refugee-12_drone {
	background: url(sprite.png?v=1449073276155) 74.80314960629921% 49.86876640419948% no-repeat;
}

.png-emoji-refugee-12_drone-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-refugee-13_baby {
	background: url(sprite.png?v=1449073276155) 0 74.80314960629921% no-repeat;
}

.png-emoji-refugee-13_baby-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-refugee-14_babyClothes {
	background: url(sprite.png?v=1449073276155) 24.93438320209974% 74.80314960629921% no-repeat;
}

.png-emoji-refugee-14_babyClothes-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-refugee-15_shower {
	background: url(sprite.png?v=1449073276155) 49.86876640419948% 74.80314960629921% no-repeat;
}

.png-emoji-refugee-15_shower-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-refugee-16_book {
	background: url(sprite.png?v=1449073276155) 74.80314960629921% 74.80314960629921% no-repeat;
}

.png-emoji-refugee-16_book-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-refugee-17_train {
	background: url(sprite.png?v=1449073276155) 99.73753280839895% 0 no-repeat;
}

.png-emoji-refugee-17_train-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-refugee-18_boat {
	background: url(sprite.png?v=1449073276155) 99.73753280839895% 24.93438320209974% no-repeat;
}

.png-emoji-refugee-18_boat-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-refugee-19_van {
	background: url(sprite.png?v=1449073276155) 99.73753280839895% 49.86876640419948% no-repeat;
}

.png-emoji-refugee-19_van-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-refugee-20_tools {
	background: url(sprite.png?v=1449073276155) 99.73753280839895% 74.80314960629921% no-repeat;
}

.png-emoji-refugee-20_tools-dims {
	width: 71px;
	height: 71px;
}

.png-emoji-refugee-21_handicap {
	background: url(sprite.png?v=1449073276155) 0 99.73753280839895% no-repeat;
}

.png-emoji-refugee-21_handicap-dims {
	width: 71px;
	height: 71px;
}

